<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <div class="read-box1">
        <div class="read-box2">
            <h3 class="custom-text">[[${auth.name}]]님의 권한 요청</h3><br>
            <input type="hidden" th:value="${auth.authId}" id="authId">

            <span class="custom-span">이름</span>
            <span th:text="${auth.name}"/>
            <span class="custom-span" style="margin-left:100px;">이메일</span>
            <span th:text="${auth.email}"/><br><br>
            <span class="custom-span">요청 권한</span>
            <span th:text="${auth.roles}" id="roles"/><br><br>
            <span class="custom-span">요청 내용</span>
            <span th:text="${auth.content}" id="content"/><br><br>
            <span class="custom-span">요청일</span>
            <span th:text="${auth.createdAt}"/><br><br>

            <span class="custom-span">처리 여부</span>
            <span th:text="${auth.processed}"/><br><br>

            <div class="margin-top20">
                <button type="button" id="modifyBtn" class="custom-button-yellow">수정</button>
                <button type="button" id="cancelBtn" class="custom-button-yellow">삭제</button>
            </div>
            <div th:if="${isAdmin}" class="margin-top20">
                <button type="button" id="acceptBtn" class="custom-button-mint">요청 허가</button>
                <button type="button" id="rejectBtn" class="custom-button-mint">요청 거절</button>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        $(function() {
            $('#modifyBtn').on("click", function() {
                modify();
            });
            $('#cancelBtn').on("click", function() {
                cancelRequest();
            });
            $('#acceptBtn').on("click", function() {
                acceptRequest();
            });
            $('#rejectBtn').on("click", function() {
                rejectRequest();
            });
        });

        function modify() {

            $.ajax({
                url: "/auth/modify",
                type: "GET",
                contentType: "application/json",
                success: function() {
                    window.location.href="/auth/modify";
                },
            });
        }

        function cancelRequest() {
            var authId = $('#authId').val();
            if (confirm("권한 요청을 취소하시겠습니까?")) {
                $.ajax({
                    url: "/auth/cancel",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({"authId":authId}),
                    success: function() {
                        history.back();
                    },
                });
            }
        }

        function acceptRequest() {
            var authId = $('#authId').val();
            if (confirm("권한 요청을 허가하시겠습니까?")) {
                $.ajax({
                    url: "/auth/accept",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({"authId":authId}),
                    success: function() {
                        location.href="/auth/requested";
                    },
                });
            }
        }

        function rejectRequest() {
            var authId = $('#authId').val();
            if (confirm("권한 요청을 거절하시겠습니까?")) {
                $.ajax({
                    url: "/auth/reject",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({"authId":authId}),
                    success: function() {
                        location.href="/auth/requested";
                    }
                });
            }
        }
    </script>
</div>
</body>
</html>