<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3>[[${auth.name}]]님의 권한 요청</h3>

    이름<span th:text="${auth.name}"/>
    이메일<span th:text="${auth.email}"/>
    요청 권한<span th:text="${auth.roles}" id="roles"/>
    요청 내용<span th:text="${auth.content}" id="content"/>
    요청일<span th:text="${auth.createdAt}"/>

    처리 여부<span th:text="${auth.processed}"/>

    <button type="button" id="modifyBtn">수정</button>
    <button type="button" id="cancelBtn">삭제</button>

    <script th:inline="javascript">
        $(function() {
            $('#modifyBtn').on("click", function() {
                modify();
            });
            $('#cancelBtn').on("click", function() {
                cancelRequest();
            });
        });

        function modify() {

            $.ajax({
                url: "/auth/modify",
                type: "GET",
                contentType: "application/json",
                success: function() {
                    window.location.href="/auth/modify";
                },
            });
        }

        function cancelRequest() {
            if (confirm("권한 요청을 취소하시겠습니까?")) {
                $.ajax({
                    url: "/auth/cancel",
                    type: "POST",
                    contentType: "application/json",
                    success: function() {
                        history.back();
                    },
                });
            }
        }
    </script>
</div>
</body>
</html>