<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3>[[${auth.name}]]님의 권한 요청</h3>
    <input type="hidden" th:value="${email}" id="email">
    <form th:object="${auth}">
        권한
        <div th:each="role : ${roles}">
            <input type="radio" name="role" th:field="*{role}" th:value="${role}">
            <label th:for="${#ids.prev('roles')}" th:text="${role}"></label>
        </div>

        내용<input type="text" th:field="*{content}" id="content">
        <button type="button" id="modifyBtn">수정</button>
    </form>

    <script th:inline="javascript">
        $(function() {
            $('#modifyBtn').on("click", function() {
                modify();
            });
        });

        function modify() {
            var roles = $('#role').val();
            var content = $('#content').val();
            var email = $('#email').val();

            $.ajax({
                url: '/auth/modify',
                type: "POST",
                contentType: "application/json",
                data: {"roles":roles, "content":content},
                success: function() {
                    location.href = '/auth/get?email='+email;
                },
            });
        }
    </script>
</div>
</body>
</html>