<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3>권한 요청</h3>
    <input type="hidden" th:value="${email}" id="email">
    <form>
        권한
        <!--<div th:field="*{roles}" id="role">-->
            <input type="radio" name="roles" th:value="${roles[3]}" id="manager">
            <label for="manager" text="학원 관리자"></label>
        <!--</div>-->
        내용<input type="text" id="content">
        <button type="button" id="requestBtn">등록</button>
    </form>

    <script th:inline="javascript">

        $(function() {
            $('#requestBtn').on("click", function() {
                requestAuth();
            });
        });

        function requestAuth() {
            var roles = $('input[name="roles"]').val();
            var content = $('#content').val();

            $.ajax({
                url: '/auth/request',
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({"roles":roles, "content":content}),
                success: function(xhr) {
                    var number = Number(xhr.responseText);
                    location.href = '/auth/get?number='+number;
                },
            });

        }

    </script>
</div>
</body>
</html>