<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3 class="custom-text font-bold">All Requested Auth</h3><br>
    <div th:if="${auth.isEmpty()}">
        요청된 권한이 없습니다.
    </div>
    <div th:if="${!auth.isEmpty()}">
        <table class="table table-borderless table-hover">
            <thead align="center">
            <tr>
                <th scope="col">이름</th>
                <th scope="col">이메일</th>
                <th scope="col">요청 권한</th>
                <th scope="col">요청일</th>
            </tr>
            </thead>
            <tbody align="center" id="tbody">
            <tr th:each="auth1:${auth}" id="tbody_tr" th:attr="data-id=${auth1.authId}">
                <td><a th:text="${auth1.name}"></a></td>
                <td><a th:text="${auth1.email}"></a></td>
                <td><a th:text="${auth1.roles}"></a></td>
                <td><a th:text="${#temporals.format(auth1.createdAt, 'yyyy-MM-dd HH:mm')}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${!auth.last}">
        <button type="button" th:attr="data-page=${auth.number+1}" id="showBtn">더보기</button>
    </div>

    <script th:inline="javascript">
        $(function() {
            $('#showBtn').on("click",function() {
                showMore();

            });
        });
        $(document).on("click", "tr", function() {
            getAuth($(this));
        });

        function showMore() {
            var showBtn = $('#showBtn');
            var page = showBtn.data("page");
            page = Number(page)+1;
            showBtn.data('page', page);
            $.ajax({
                url: "/auth/requestedAuth",
                type: "GET",
                data: {"page":page},
                success: function(response) {
                    var requestedList = response.content;
                    var isLast = response.last;
                    //var tbody = $('#tbody');
                    var tbody = document.querySelector("tbody");
                    for (var i=0; i<requestedList.length; i++) {
                        var requested = requestedList[i];
                        var tId = requested.authId;
                        var trTag = document.createElement("tr");
                        trTag.setAttribute("data-id", tId);

                        var tName = document.createElement("td");
                        tName.textContent = requested.name;
                        var tEmail = document.createElement("td");
                        tEmail.textContent = requested.email;
                        var tRoles = document.createElement("td");
                        tRoles.textContent = requested.roles;
                        var tCreated = document.createElement("td");
                        tCreated.textContent = requested.createdAt;
                        trTag.insertBefore(tName, null);
                        trTag.insertBefore(tEmail, null);
                        trTag.insertBefore(tRoles, null);
                        trTag.insertBefore(tCreated, null);
                        tbody.appendChild(trTag);
                    }
                    if (isLast) {
                        showBtn.css('display', 'none');
                    }

                }
            });

        }

        function getAuth(element) {
            var authId = parseInt(element.data("id"));
            alert(authId);
            $.ajax({
                url: "/auth/get",
                type: "GET",
                contentType: "application/json",
                data: {"number":authId},
                success: function() {
                    location.href = "/auth/get?number="+authId;
                },
            });
        }
    </script>
</div>
</body>
</html>