<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3 class="custom-text font-bold">[[${member.name}]]님의 권한 요청</h3><br>
    <input type="hidden" th:value="${member.email}" id="email">
    <form th:object="${auth}" class="custom-form">
        <span class="custom-span span-center">권한</span>
        <div th:each="role : ${roles}" class="radio-label">
            <input type="radio" class="custom-form-control" name="role" th:value="${role.key}" id="${role.key}">
            <label th:for="${role}" th:text="${role.value}" style="padding-left:7px;"></label>
        </div><br>
        <span class="custom-span span-center">내용</span><br>
        <input type="text" class="custom-form-control input-content" id="content"><br>
        <div class="button-distance">
            <button type="button" id="requestBtn" class="custom-button-yellow">등록</button>
            <button type="button" id="cancelBtn" class="custom-button-yellow">취소</button>
        </div>
    </form>

    <script th:inline="javascript">

        $(function() {
            $('#requestBtn').on("click", function() {
                requestAuth();
            });
            $('#cancelBtn').on("click", function() {
                history.back();
            });
        });

        function requestAuth() {
            var roles = $('input[name=role]:checked').val();
            var content = $('#content').val();

            $.ajax({
                url: '/auth/request',
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({"roles":roles, "content":content}),
                success: function(response) {
                    var number = Number(response);
                    location.href = '/auth/get?number='+number;
                },
            });

        }

    </script>
</div>
</body>
</html>