<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3 align="center">Review</h3>
    <button type="button" class="register" id="registerBtn">수강 후기 작성</button>
        <input type="hidden" th:value="${academy}" id="academy">
        <div th:if="${review.isEmpty()}">
            현재 작성된 수강 후기가 없습니다.
        </div>
        <div th:if = "${!review.isEmpty()}">
            <table class="table table-borderless table-hover">
                <thead align="center">
                <tr>
                    <th scope="col" style="width:50%">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">평점</th>
                    <th scope="col">작성일자</th>
                </tr>
                </thead>
                <tbody align="center">
                <tr th:each="rev : ${review}">
                    <td style="width:50%" align="center"><a th:text="${rev.title}" th:href="@{/review/read?number={number}(number=${rev.revNum})}">제목</a></td>
                    <td><span th:text="${rev.writerEmail}">작성자</span></td>
                    <td><span th:text="${rev.grade}">평점</span></td>
                    <td><span th:text="${rev.createdAt}">작성 일자</span></td>
                </tr>
                </tbody>
            </table>

            <nav th:with = "pageNumber=${review.pageable.pageNumber}, pageSize=${review.pageable.pageSize},
                            totalPages=${review.totalPages}, startPage=${T(java.lang.Math).floor(pageNumber/pageSize)*pageSize+1},
                            tempEndPage=${startPage+pageSize-1}, endPage=(${tempEndPage>totalPages?totalPages:tempEndPage})"
                 aria-label="Page-navigation">
                <ul class="pagination">
                    <li th:classappend="${pageNumber+1<=pageSize}?'disabled'" class="page-item">
                        <a class="page-link" th:href="@{/review/list(academy=${academy}, page=1)}">
                            <span>&laquo;</span>
                            <span class="sr-only">첫페이지로</span>
                        </a>
                    </li>

                    <li th:classappend="${review.first}?'disabled'" class="page-item">
                        <a class="page-link" th:href="${review.first}?'#':(${#numbers.formatDecimal(startPage-pageSize, 0, -1)}<pageSize?@{/review/list(academy=${academy}, page=1)}:@{/review/list(academy=${academy}, page=${#numbers.formatDecimal(startPage-pageSize, 0, -1)})})"
                           aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                            <span class="sr-only">이전 페이지</span>
                        </a>
                    </li>

                    <li th:each="page:${#numbers.sequence(startPage, endPage)}" th:classappend="${page==pageNumber+1}?'active'" class="page-item">
                        <a th:text="${page}" class="page-link" th:href="@{/review/list(academy=${academy}, page=${page})}"></a>
                    </li>

                    <li th:classappend="${review.last}?'disabled'" class="page-item">
                        <a class="page-link" th:href="${review.last}?'#':(${tempEndPage<=endPage-pageSize}?@{/review/list(academy=${academy}, page=${#numbers.formatDecimal(startPage+pageSize,0,-1)})}:@{/review/list(academy=${academy}, page=${endPage})})"
                           aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                            <span class="sr-only">다음 페이지</span>
                        </a>
                    </li>

                    <li th:classappend="${T(java.lang.Math).floor(totalPages/10)*10<=startPage}?'disabled'" class="page-item">
                        <a class="page-link" th:href="@{/review/list(academy=${academy}, page=${totalPages})}">
                            <span>&raquo;</span>
                            <span class="sr-only">마지막으로</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    <script th:inline="javascript">
        $(function() {
            $('#registerBtn').click(function() {
                register();
            });
        });

        function register() {
            var academy = $('#academy').val();
            $.ajax({
                url: '/review/register?academy='+academy,
                type: 'GET',
                contentType: "application/json",
                data: {"academy":academy},
                success: function() {
                    location.href="/review/register?academy="+academy;
                }
            });
        }
    </script>
</div>
</body>
</html>