<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3>수정 화면</h3>
    <form th:object="${review}">
        <input type="hidden" th:value="${academy}" id="academy">
        <input type="hidden" th:value="*{revNum}" id="number">
        제목<input type="text" th:field="*{title}">
        <p id="titleError"></p><br>
        평점
        <div th:field="*{grade}">
            <input type="radio" id="5points" name="grade" value="5">
            <label for="5points">5</label>
            <input type="radio" id="4points" name="grade" value="4">
            <label for="4points">4</label>
            <input type="radio" id="3points" name="grade" value="3">
            <label for="3points">3</label>
            <input type="radio" id="2points" name="grade" value="2">
            <label for="2points">2</label>
            <input type="radio" id="1point" name="grade" value="1">
            <label for="1point">1</label>
        </div>
        <p id="gradeError"></p><br>
        내용<input type="text" style="height: 600px; width: 800px;" th:field="*{content}"><br>
        <p id="contentError"></p><br>
        <button type="button" id="modifyBtn">수정</button>
    </form>
    <script th:inline="javascript">
        $(function() {
            $('#modifyBtn').on("click", function() {
                modify();
            });
        });

        function clearText() {
            var pTag = ["titleError", "gradeError", "contentError"];
            for (var tag in pTag) {
                var pElement = document.getElementById(tag);
                if (pElement != null) {
                    pElement.textContent = "";
                }
            }
        }

        function modify() {
            clearText();
            var number = $('#number').val();
            var academy = $('#academy').val();
            var title = $('#title').val();
            var content = $('#content').val();
            var grade = $('input[type=radio][name=grade]:checked').val();

            if (title && content && grade) {
                $.ajax({
                    url: '/review/modify',
                    type: "POST",
                    contentType: "application/json",
                    headers: {"X-AUTH-TOKEN": localStorage.getItem("jwt")},
                    data: JSON.stringify({
                        "number":number,
                        "academy":academy,
                        "title":title,
                        "content":content,
                        "grade":grade,
                    }),
                    success: function() {
                        location.href="/review/read?number="+number;
                    },
                    error: function(xhr, response) {
                        jwtFilter();
                        try {
                            var errorMessage = JSON.parse(xhr.responseText);
                            if (errorMessage.BindingResultError) {
                                for (var err in errorMessage) {
                                    if (document.getElementById(err)) {
                                        var errElement = document.getElementById(err);
                                        errElement.textContent = errorMessage[err];
                                    }
                                }
                            }
                        } catch (e) {
                            console.log(xhr.responseText);
                        }
                    },
                });
            } else {
                alert('모든 항목을 입력해주세요.');
            }

        }
    </script>
</div>

</body>
</html>