<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3 class="custom-text font-bold">수강 후기 수정</h3><br>
    <form th:object="${review}" class="custom-form">
        <input type="hidden" th:value="${academy}" id="academy">
        <input type="hidden" th:value="*{revNum}" id="number">
        <span class="custom-span span-center">제목</span>
        <input type="text" class="custom-form-control margin-top10" th:field="*{title}">
        <p id="titleError"></p><br>
        <span class="custom-span span-center">평점</span>
        <div th:field="*{grade}" class="reversed-stars span-center">
            <input type="radio" id="5points" name="grade" value="5" class="stars-input" th:checked="${review.grade == 5}">
            <label for="5points" class="stars">★</label>
            <input type="radio" id="4points" name="grade" value="4" class="stars-input" th:checked="${review.grade == 4}">
            <label for="4points" class="stars">★</label>
            <input type="radio" id="3points" name="grade" value="3" class="stars-input" th:checked="${review.grade == 3}">
            <label for="3points" class="stars">★</label>
            <input type="radio" id="2points" name="grade" value="2" class="stars-input" th:checked="${review.grade == 2}">
            <label for="2points" class="stars">★</label>
            <input type="radio" id="1point" name="grade" value="1" class="stars-input" th:checked="${review.grade == 1}">
            <label for="1point" class="stars">★</label>
        </div>
        <p id="gradeError"></p><br>
        <span class="custom-span span-center">내용</span>
        <div>
            <div class="custom-form-control input-content scroll" id="content" contenteditable="true"></div>
            <p id="contentError"></p><br>
            <div class="button-distance" style="margin-top:20px;">
                <input type="file" id="imageFile" style="display:none;">
                <label class="custom-button-mint select-file" for="imageFile" id="imageLabel">이미지 추가</label>
            </div>
        </div>
        <div class="button-distance">
            <button type="button" id="modifyBtn" class="custom-button-yellow">수정</button>
            <button type="button" id="cancelBtn" class="custom-button-yellow">취소</button>
        </div>
    </form>
    <script th:inline="javascript">
        $(function() {
            $('#modifyBtn').on("click", function() {
                modify();
            });
            $('#cancelBtn').on("click", function() {
                history.back();
            });
        });

        const imageFile = document.getElementById('imageFile');
        const imageLabel = document.getElementById('imageLabel');
        let imgList = [];
        let existImages = [[${image}]];

        document.addEventListener('DOMContentLoaded', function() {
            const reviewContentText = [[${review.content}]];
            const reviewContent = document.getElementById('content');
            reviewContent.textContent = reviewContentText;
            alert(document.getElementById('content').textContent);
            setImgTag(existImages);

            const size = existImages.length;
            if (size !== 0) {
                imageLabel.innerText = "이미지 추가 ("+size+"/10)";
            }

        });

        imageFile.addEventListener('change', function() {
            const image = event.target.files[0];
            setDataURL(image, imgList);
        });

        imageLabel.addEventListener('click', function() {
            const imageNumber = document.querySelectorAll('img').length;
            if (imageNumber === 10) {
                alert('업로드 가능한 이미지는 최대 10장입니다.');
                event.preventDefault();
            }
        });

        const contentDiv = document.getElementById('content');
        contentDiv.addEventListener('keydown', deleteImage);

        function modify() {
            clearText(["titleError", "gradeError", "contentError"]);
            var number = $('#number').val();
            var academy = $('#academy').val();
            var title = $('#title').val();
            var grade = $('input[type=radio][name=grade]:checked').val();

            const imgArray = findImgPosition("new");
            const existImgArray = findImgPosition("exist");
            const contentText = contentText();
            const json = {
                "number":number,
                "academy":academy,
                "title":title,
                "content":contentText,
                "grade":grade
            };

            var formData = new FormData();
            formData.append("reviewFormDTO", new Blob([JSON.stringify(json)], {type:"application/json"}));
            if (imgList.length > 0) {
                imgList.forEach(function(img){
                    formData.append("images", img);
                });
            }
            formData.append("imgArray", new Blob([JSON.stringify(imgArray)], {type:"application/json"}));
            formData.append("existImgArray", new Blob([JSON.stringify(existImgArray)], {type:"application/json"}));

            if (title && contentText && grade) {
                $.ajax({
                    url: '/review/modify',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    headers: {"X-AUTH-TOKEN": localStorage.getItem("jwt")},
                    data: formData,
                    success: function() {
                        location.href="/review/read?number="+number;
                    },
                    error: function(xhr) {
                        jwtFilter();
                        try {
                            var errorMessage = JSON.parse(xhr.responseText);
                            checkBindingResult(errorMessage);
                            console.log(xhr.responseText);
                        } catch (e) {
                            console.log(xhr.responseText);
                        }
                    },
                });
            } else {
                alert('모든 항목을 입력해주세요.');
            }

        }
    </script>
</div>

</body>
</html>