<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <div class="read-box1">
        <div class="read-box2">
            <span class="custom-span">제목</span>
            <span th:text="${review.title}">제목</span><br>
            <span class="custom-span">작성일자</span>
            <span th:text="${#temporals.format(review.createdAt, 'yyyy-MM-dd HH:mm')}">작성일자</span><br>
            <span class="custom-span">평점</span>
            <span th:text="${review.grade}">평점</span><br>
            <span class="custom-span">내용</span>
            <span th:text="${review.content}">내용</span><br>
            <input type="hidden" th:field="${review.acaNum}" id="academy">
            <input type="hidden" th:field="${review.revNum}" id="number">
            <br>
            <button type="button" id="modifyBtn" class="custom-button-yellow">수정하기</button>
            <button type="button" id="deleteBtn" class="custom-button-yellow">삭제하기</button>
        </div>
    </div>

    <script th:inline="javascript">
        $(function() {
            $('#modifyBtn').on("click", function() {
                modify();
            });

            $('#deleteBtn').on("click", function() {
                delete_review();
            });
        });

        function modify() {
            var academy = $('#academy').val();
            var number = $('#number').val();

            $.ajax({
                url: '/review/modify',
                type: 'GET',
                contentType: "application/json",
                data: {
                    "number":number,
                    "academy":academy,
                },
                success: function() {
                    location.href='/review/modify?number='+number;
                },
            });
        }

        function delete_review() {
            var academy = $('#academy').val();
            var number = $('#number').val();

            $.ajax({
                url: '/review/delete',
                type: 'GET',
                contentType: "application/json",
                data: {
                    "number":number,
                    "academy":academy
                },
                success: function() {
                    location.href="/review/list?academy="+academy;
                },
            });
        }

    </script>
</div>
</body>
</html>