<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    제목:
    <span th:text="${review.title}">제목</span><br>
    작성일자:
    <span th:text="${review.createdAt}">작성일자</span><br>
    평점
    <span th:text="${review.grade}">평점</span><br>
    내용:
    <span th:text="${review.content}">내용</span><br>
    <input type="hidden" th:field="${review.acaNum}" id="academy">
    <input type="hidden" th:field="${review.revNum}" id="number">

    <button type="button" id="modifyBtn">수정하기</button>
    <button type="button" id="deleteBtn">삭제하기</button>

    <script th:inline="javascript">
        $(function() {
            $('#modifyBtn').on("click", function() {
                modify();
            });

            $('#deleteBtn').on("click", function() {
                delete_review();
            });
        });

        function modify() {
            var academy = $('#academy').val();
            var number = $('#number').val();

            $.ajax({
                url: '/review/modify',
                type: 'GET',
                contentType: "application/json",
                data: {
                    "number":number,
                    "academy":academy,
                },
                success: function() {
                    location.href='/review/modify?number='+number;
                },
            });
        }

        function delete_review() {
            var academy = $('#academy').val();
            var number = $('#number').val();

            $.ajax({
                url: '/review/delete',
                type: 'GET',
                contentType: "application/json",
                data: {
                    "number":number,
                    "academy":academy
                },
                success: function() {
                    location.href="/review/list?academy="+academy;
                },
            });
        }

    </script>
</div>
</body>
</html>