<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3 class="custom-text font-bold">수강 후기 작성</h3><br>
    <form class="custom-form">
        <input type="hidden" th:value="${academy}" id="academy">
        <span class="custom-span span-center">제목</span>
        <input type="text" class="custom-form-control margin-top10 w-auto" id="title">
        <p id="titleError"></p><br>
        <span class="custom-span span-center">평점</span>
        <div class="reversed-stars span-center">
            <input type="radio" id="5points" name="grade" value="5" class="stars-input">
            <label for="5points" class="stars">★</label>
            <input type="radio" id="4points" name="grade" value="4" class="stars-input">
            <label for="4points" class="stars">★</label>
            <input type="radio" id="3points" name="grade" value="3" class="stars-input">
            <label for="3points" class="stars">★</label>
            <input type="radio" id="2points" name="grade" value="2" class="stars-input">
            <label for="2points" class="stars">★</label>
            <input type="radio" id="1point" name="grade" value="1" class="stars-input">
            <label for="1point" class="stars">★</label>
        </div>
        <p id="gradeError"></p><br>
        <span class="custom-span span-center">내용</span>
        <div>
            <div class="custom-form-control input-content scroll" id="content" contenteditable="true"></div>
            <p id="contentError"></p>
            <div class="button-distance" style="margin-top:20px;">
                <input type="file" id="imageFile" style="display:none;">
                <label class="custom-button-mint select-file" for="imageFile" id="imageLabel">이미지 추가</label>
            </div>
        </div>
        <div class="button-distance">
            <button type="button" id="registerBtn" class="custom-button-yellow">등록</button>
            <button type="button" id="cancelBtn" class="custom-button-yellow">취소</button>
        </div>
</form>
<script th:inline="javascript">

    $(function() {
        $('#registerBtn').on("click", function() {
            register();
        });
        $('#cancelBtn').on("click", function() {
            history.back();
        });
    });

    const imageFile = document.getElementById('imageFile');
    const imageLabel = document.getElementById('imageLabel');
    let imgList = [];

    imageFile.addEventListener('change', function() {
        const image = event.target.files[0];
        const reader = new FileReader();
        const images = document.querySelectorAll('img');
        images.forEach(img => {
            if (event.target.files[0].name == img.getAttribute("data-name")) {
                alert("동일한 이름의 이미지가 추가되어있습니다.");
                event.target.value = null;
            }
        })

        reader.readAsDataURL(image);

        reader.onload = () => {
            const dataURL = reader.result;
            const img = setImgElement(image, dataURL);
            imgList.push(image);
            imageLabel.innerText = "이미지 추가 ("+imgList.length+"/10)";
        };
    });

    imageLabel.addEventListener('click', function() {
        if (imgList.length == 10) {
            alert('업로드 가능한 이미지는 최대 10장입니다.');
            event.preventDefault();
        }
    });

    const contentDiv = document.getElementById('content');
    contentDiv.addEventListener('keydown', deleteImage);

    function register() {
        clearText(["titleError", "gradeError", "contentError"]);
        var academy = $('#academy').val();
        var title = $('#title').val();
        var grade = $('input[type=radio][name=grade]:checked').val();

        const imgArray = findNewImgPosition();
        const contentText = document.getElementById('content').textContent;
        const json = {
            "academy":academy,
            "title":title,
            "content":contentText,
            "grade":grade
        };

        var formData = new FormData();
        formData.append("reviewFormDTO", new Blob([JSON.stringify(json)], {type:"application/json"}));
        if (imgList.length > 0) {
            imgList.forEach(function(img) {
                formData.append("images", img);
            });
        }
        formData.append("imgArray", new Blob([JSON.stringify(imgArray)], {type:"application/json"}));

        if (title && contentText && grade) {
            $.ajax({
                url: '/review/register',
                type: "POST",
                contentType: false,
                processData: false,
                headers: {"X-AUTH-TOKEN": localStorage.getItem("jwt")},
                data: formData,
                success: function() {
                    history.back();
                },
                error: function(xhr) {
                    jwtFilter();
                    var errorMessage = JSON.parse(xhr.responseText);
                    if (errorMessage.BindingResultError) {
                        for (var err in errorMessage) {
                            if (document.getElementById(err)) {
                                var errElement = document.getElementById(err);
                                errElement.textContent = errorMessage[err];
                                errElement.classList.add("alert", "alert-warning");
                            }
                        }
                    } else {
                        console.log(xhr.responseText);
                    }
                },
            });
        } else {
            alert('모든 항목을 입력해주세요.');
        }

    }

</script>
</div>
</body>
</html>