<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3>등록 화면</h3>
    <form th:object="${review}">
        <input type="hidden" th:value="${academy}" id="academy">
        제목<input type="text" th:field="*{title}">
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError"></p><br>
        평점
        <div th:field="*{grade}">
            <input type="radio" id="5points" name="grade" value="5">
            <label for="5points">5</label>
            <input type="radio" id="4points" name="grade" value="4">
            <label for="4points">4</label>
            <input type="radio" id="3points" name="grade" value="3">
            <label for="3points">3</label>
            <input type="radio" id="2points" name="grade" value="2">
            <label for="2points">2</label>
            <input type="radio" id="1point" name="grade" value="1">
            <label for="1point">1</label>
        </div>
        <p th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}" class="fieldError"></p><br>
        내용<input type="text" style="height: 600px; width: 800px;" th:field="*{content}">
        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="fieldError"></p><br>
        <button type="button" id="registerBtn">등록</button>
</form>
<script th:inline="javascript">

    $(function() {
        $('#registerBtn').on("click", function() {
            register();
        });
    });

    function register() {
        var academy = $('#academy').val();
        var title = $('#title').val();
        var content = $('#content').val();
        var grade = $('input[type=radio][name=grade]:checked').val();

        if (title && content && grade) {
            $.ajax({
                url: '/review/register',
                type: "POST",
                contentType: "application/json",
                headers: {"X-AUTH-TOKEN": localStorage.getItem("jwt")},
                data: JSON.stringify({
                    "academy":academy,
                    "title":title,
                    "content":content,
                    "grade":grade,
                }),
                success: function() {
                    history.back();
                },
                error: function(xhr) {
                    console.log(xhr.responseText);
                },
            });
        } else {
            alert('모든 항목을 입력해주세요.');
        }

    }

</script>
</div>
</body>
</html>