<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3 class="custom-text font-bold">등록 화면</h3><br>
    <form class="custom-form">
        <input type="hidden" th:value="${academy}" id="academy">
        <span class="custom-span span-center">제목</span>
        <input type="text" class="custom-form-control margin-top10 w-auto" id="title">
        <p id="titleError"></p><br>
        <span class="custom-span span-center">평점</span>
        <div class="reversed-stars span-center">
            <input type="radio" id="5points" name="grade" value="5" class="stars-input">
            <label for="5points" class="stars">★</label>
            <input type="radio" id="4points" name="grade" value="4" class="stars-input">
            <label for="4points" class="stars">★</label>
            <input type="radio" id="3points" name="grade" value="3" class="stars-input">
            <label for="3points" class="stars">★</label>
            <input type="radio" id="2points" name="grade" value="2" class="stars-input">
            <label for="2points" class="stars">★</label>
            <input type="radio" id="1point" name="grade" value="1" class="stars-input">
            <label for="1point" class="stars">★</label>
        </div>
        <p id="gradeError"></p><br>
        <span class="custom-span span-center">내용</span>
        <div>
            <div class="custom-form-control input-content scroll" id="content" contenteditable="true"></div>
            <p id="contentError"></p><br>
            <div class="button-distance" style="margin-top:20px;">
                <input type="file" id="imageFile" style="display:none;">
                <label class="custom-button-mint select-file" for="imageFile" id="imageLabel">이미지 추가</label>
            </div>
        </div>
        <div class="button-distance">
            <button type="button" id="registerBtn" class="custom-button-yellow">등록</button>
            <button type="button" id="cancelBtn" class="custom-button-yellow">취소</button>
        </div>
</form>
<script th:inline="javascript">

    $(function() {
        $('#registerBtn').on("click", function() {
            register();
        });
        $('#cancelBtn').on("click", function() {
            history.back();
        });
    });

    const imageFile = document.getElementById('imageFile');
    const imageLabel = document.getElementById('imageLabel');
    let imgList = [];

    imageFile.addEventListener('change', function() {
        const image = event.target.files[0];
        const reader = new FileReader();
        const content = document.getElementById('content');

        reader.readAsDataURL(image);

        reader.onload = () => {
            const dataURL = reader.result;
            const imgDiv = document.createElement('div');
            content.appendChild(imgDiv);
            const img = document.createElement('img');
            img.setAttribute("src", dataURL);
            img.setAttribute("draggable", "true");
            img.setAttribute("style", "max-height:600px; max-width:600px;");
            img.setAttribute("data-name", image.name);
            imgDiv.appendChild(img);
            imgList.push(image);
            imageLabel.innerText = "이미지 추가 ("+imgList.length+"/10)";
        };
    });

    imageLabel.addEventListener('click', function() {
        if (imgList.length == 10) {
            alert('업로드 가능한 이미지는 10장입니다.');
            event.preventDefault();
        }
    });

    const contentDiv = document.getElementById('content');
    contentDiv.addEventListener('keydown', function() {
        if (event.key === 'Backspace' || event.keyCode === 8 || event.key === 'Delete' || event.keyCode === 46) {
            if (window.getSelection().getRangeAt(0).endContainer != null) {
                const firstElement = window.getSelection().getRangeAt(0).endContainer.firstElementChild;
                const firstElementTag = firstElement == null ? "" : firstElement.tagName;
                const lastElement = window.getSelection().getRangeAt(0).endContainer.lastElementChild;
                const lastElementTag = lastElement == null ? "" : lastElement.tagName;

                if (firstElementTag === "IMG" || lastElementTag === "IMG") {
                    if (confirm("사진을 삭제하시겠습니까?")) {
                        for (var i=0; i<imgList.length; i++) {
                            const imageLength = document.querySelectorAll('img').length -1;
                            imageLabel.innerText = "이미지 추가 ("+imageLength+"/10)";
                            if (imgList[i].name === event.target.getAttribute('data-name')) {
                                imgList.splice(i, 1);
                            }
                        }
                    } else {
                        event.preventDefault();
                    }
                }

            }
        }
    });

    function getRandomImgId() {
        var imgId = '';
        const characters = 'abcdefghijklmnopqrstuvwxyz0123456789';
        for (var i=0; i<12; i++) {
            imgId += characters.charAt(Math.floor(Math.random()*characters.length));
        }
        return imgId;
    }

    function matchContent(id) {
        const regex = new RegExp(id);
        const contentText = document.getElementById('content').textContent;
        const match = contentText.match(regex);
        return match;
    }

    function appendHiddenDiv(tag, id) {
        const hiddenDiv = document.createElement('div');
        hiddenDiv.setAttribute("style", "display:none;");
        hiddenDiv.textContent = id;
        tag.appendChild(hiddenDiv);

        return hiddenDiv;
    }

    function setTexts(match, content) {
        const index = match.index;
        const preText = index < 10 ? content.slice(0, index) : content.slice(index - 10, index);
        const afterIndex = index + match[0].length;
        const nextText = (afterIndex + 10) < content.length ? content.slice(afterIndex, afterIndex + 10) : content.slice(afterIndex, content.length);

        return [preText, nextText];
    }

    function findNewImgPosition() {
        const images = document.querySelectorAll('img');
        let imgIndex = [];
        if (images.length !== 0) {
            image.forEach(img => {
                const dataName = img.getAttribute('data-name');
                var id = getRandomImgId();
                var match = matchContent(id);

                var hiddenDiv = appendHiddenDiv(img, id);

                var revisedText = document.getElementById('content').textContent;
                var revisedMatch = revisedText.match(id);

                while (match != null && revisedMatch.length == null) {
                    if (match == null && revisedMatch.length === 1) {
                        break;
                    }
                    id = getRandomImgId();
                    match = matchContent(id);
                    //hiddenDiv.innerText = "";
                    hiddenDiv.innerText = id;
                    revisedText = document.getElementById('content').textContent;
                    revisedMatch = revisedText.match(id);
                }
                var texts = setTexts(revisedMatch, revisedText);

                imgIndex.push([dataName, id, texts[0], texts[1]]);
            });
        }
        return imgIndex;
    }

    function clearText() {
        var pTag = ["titleError", "gradeError", "contentError"];
        for (var tag in pTag) {
            var pElement = document.getElementById(tag);
            if (pElement != null) {
                pElement.textContent = "";
            }
        }
    }

    function register() {
        clearText();
        var academy = $('#academy').val();
        var title = $('#title').val();
        var grade = $('input[type=radio][name=grade]:checked').val();

        const imgArray = findNewImgPosition();
        const contentText = document.getElementById('content').textContent;
        const json = {
            "academy":academy,
            "title":title,
            "content":contentText,
            "grade":grade
        };

        var formData = new FormData();
        formData.append("reviewFormDTO", new Blob([JSON.stringify(json)], {type:"application/json"}));
        if (imgList.length > 0) {
            imgList.forEach(function(img) {
                formData.append("images", img);
            });
        }
        formData.append("imgArray", new Blob([JSON.stringify(imgArray)], {type:"application/json"}));

        if (title && contentText && grade) {
            $.ajax({
                url: '/review/register',
                type: "POST",
                contentType: false,
                processData: false,
                headers: {"X-AUTH-TOKEN": localStorage.getItem("jwt")},
                data: formData,
                success: function() {
                    history.back();
                },
                error: function(xhr, response) {
                    jwtFilter();
                    try {
                        var errorMessage = JSON.parse(xhr.responseText);
                        if (errorMessage.BindingResultError) {
                            for (var err in errorMessage) {
                                if (document.getElementById(err)) {
                                    var errElement = document.getElementById(err);
                                    errElement.textContent = errorMessage[err];
                                    errElement.classList.add("alert", "alert-warning");
                                }
                            }
                        }
                    } catch (e) {
                        console.log(xhr.responseText);
                    }
                },
            });
        } else {
            alert('모든 항목을 입력해주세요.');
        }

    }

</script>
</div>
</body>
</html>