<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3 align="center">Notice</h3>
    <button type="button" class="register" id="registerBtn">공지사항 등록</button>
    <input type="hidden" th:field="${academy.acaNum}">
    <div th:if = "${!notice.isEmpty()}">
        <table class="table table-borderless">
            <thead align="center">
            <tr>
                <th scope="col" style="width:50%">제목</th>
                <th scope="col">작성일</th>
            </tr>
            </thead>
            <tbody align="center">
            <tr th:each="notice : ${notice}" th:object="${notice}">
                <td align="center"><a th:text="*{title}" th:href="@{/notice/read?number={number}(number=${notice.notNum})}">학원 이름</a></td>
                <td><span th:text="*{createdAt}">작성일</span></td>
            </tr>
            </tbody>
        </table>

        <nav th:with = "pageNumber=${notice.pageable.pageNumber}, pageSize=${notice.pageable.pageSize},
                            totalPages=${notice.totalPages}, startPage=${T(java.lang.Math).floor(pageNumber/pageSize)*pageSize+1},
                            tempEndPage=${startPage+pageSize-1}, endPage=(${tempEndPage>totalPages?totalPages:tempEndPage})"
             aria-label="Page-navigation">
            <ul class="pagination">
                <li th:classappend="${pageNumber+1<=pageSize+1}?'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/notice(page=1)}">
                        <span>&laquo;</span>
                        <span class="sr-only">첫페이지로</span>
                    </a>
                </li>

                <li th:classappend="${notice.first}?'disabled'" class="page-item">
                    <a class="page-link" th:href="${notice.first}?'#':@{/notice(page=${#numbers.formatDecimal(startPage-pageSize, 0, -1)})}"
                       aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                        <span class="sr-only">이전 페이지</span>
                    </a>
                </li>

                <li th:each="page:${#numbers.sequence(startPage, endPage)}" th:classappend="${page==pageNumber+1}?'active'" class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{/notice(page=${page})}"></a>
                </li>

                <li th:classappend="${notice.last}?'disabled'" class="page-item">
                    <a class="page-link" th:href="${notice.last}?'#':@{/notice(page=${#numbers.formatDecimal(startPage+pageSize,0,-1)})}"
                       aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                        <span class="sr-only">다음 페이지</span>
                    </a>
                </li>

                <li th:classappend="${T(java.lang.Math).floor(totalPages/10)*10<=startPage}?'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/notice(page=${totalPages})}">
                        <span>&raquo;</span>
                        <span class="sr-only">처음으로</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <script th:inline="javascript">
        $(function() {

            $('#registerBtn').click(function(){
            register();

            });
        });

        function register() {
            var token = localStorage.getItem("jwt");
            $.ajax({
                url: '/notice/registerForm',
                type: 'GET',
                contentType:"application/json",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-AUTH-TOKEN", token)
                },
                success: function() {
                    location.href="/notice/registerForm";
                }
            });
        }

    </script>
</div>
</body>
</html>