<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3 class="custom-text font-bold">수정 화면</h3><br>
    <form th:object="${notice}" class="custom-form">
        <input type="hidden" th:field="*{acaNum}" id="academy">
        <input type="hidden" th:field="*{notNum}" id="number">
        <span class="custom-span span-center margin-top10">제목</span>
        <input type="text" class="custom-form-control margin-top10 w-auto" th:field="*{title}">
        <p id="titleError"></p><br>
        <span class="custom-span span-center">내용</span>
        <div>
            <div class="custom-form-control input-content scroll" id="content" contenteditable="true"></div>
            <p id="contentError"></p><br>
            <span class="custom-span">첨부 파일 목록</span>
            <div class="custom-form-control file-list" id="selectedFile"></div>
            <div class="button-distance" style="margin-top:20px;">
                <input type="file" id="imageFile" style="display:none;">
                <label class="custom-button-mint select-file" for="imageFile" id="imageLabel">이미지 추가</label>
                <input type="file" id="inputFile" style="display:none;" multiple="multiple">
                <label class="custom-button-mint select-file" for="inputFile" id="fileLabel">첨부 파일 추가</label>
            </div>
        </div>
        <div class="button-distance">
            <button type="button" id="modifyBtn" class="custom-button-yellow">수정</button>
            <button type="button" id="cancelBtn" class="custom-button-yellow">취소</button>
        </div>
    </form>

    <script th:inline="javascript">
        $(function() {
            $('#modifyBtn').click(function() {
                modify();
            });
            $('#cancelBtn').on("click", function() {
                history.back();
            });
        });

        const imageFile = document.getElementById('imageFile');
        const imageLabel = document.getElementById('imageLabel');
        const inputFile = document.getElementById('inputFile');
        const fileLabel = document.getElementById('fileLabel');
        const selectedFile = document.getElementById('selectedFile');
        let fileList = [];
        let imgList = [];
        let fileNames = [];
        let existImages = [[${image}]];
        let existFiles = [[${files}]] ? [[${files}]] : [];

        document.addEventListener('DOMContentLoaded', function() {
            const noticeContentText = [[${notice.content}]];
            const noticeContent = document.getElementById('content');
            noticeContent.textContent = noticeContentText;
            setImgTag(existImages);
            replaceN();

            setFileNames();

            if (existFiles.length !== 0) {
                const fileLabel = document.getElementById('fileLabel');
                fileLabel.innerText = "파일 추가 ("+existFiles.length+"/10)";
            }

            const size = existImages.length;
            if (size !== 0) {
                imageLabel.innerText = "이미지 추가 ("+size+"/10)";
            }
        });

        function setFileNames() {
            existFiles.forEach(existFile => {
                fileNames.push(existFile.originalName);
                const fileDiv = document.createElement("div");
                fileDiv.setAttribute("style", "display:flex;");
                selectedFile.appendChild(fileDiv);
                const fileName = document.createElement("p");
                fileName.innerHTML = existFile.originalName;
                fileName.setAttribute("id", existFile.originalName);
                fileName.setAttribute("class", "file-name");
                fileDiv.appendChild(fileName);
                var deleteExist = document.createElement("button");
                deleteExist.textContent = "X";
                deleteExist.setAttribute("name", "deleteExist");
                deleteExist.setAttribute("type", "button");
                deleteExist.setAttribute("data-name", existFile.originalName);
                deleteExist.setAttribute("class", "custom-button-mint-border");
                fileDiv.appendChild(deleteExist);

                var deleteFiles = document.querySelectorAll('button[name="deleteExist"]');
                if (deleteFiles.length != 0) {
                    for (var i=0; i<deleteFiles.length; i++) {
                        const deleteName = deleteFiles[i].getAttribute("data-name");
                        deleteFiles[i].addEventListener('click', function() {
                            for (var j=0; j<existFiles.length; j++) {
                                if (existFiles.length > 0 && existFiles[j].originalName === deleteName) {
                                    existFiles.splice(j, 1);
                                }
                            }
                            event.target.parentElement.remove();
                            deleteFiles = document.querySelectorAll('button[name="deleteFile"]');
                            var fileLength = fileList.length + existFiles.length;
                            fileLabel.innerText = "파일 추가 ("+fileLength+"/10)";
                        });
                    }
                }
            });

        }

        inputFile.addEventListener('change', function() {
            for (const file of event.target.files) {
                const fileDiv = document.createElement("div");
                fileDiv.setAttribute("style", "display:flex;");
                selectedFile.appendChild(fileDiv);
                const fileName = document.createElement("p");
                fileName.innerHTML = file.name;
                fileName.setAttribute("id", file.name);
                fileName.setAttribute("class", "file-name");
                fileDiv.appendChild(fileName);
                var deleteButton = document.createElement("button");
                deleteButton.textContent = "X";
                deleteButton.setAttribute("name", "deleteFile");
                deleteButton.setAttribute("type", "button");
                deleteButton.setAttribute("data-name", file.name);
                deleteButton.setAttribute("class", "custom-button-mint-border");
                fileDiv.appendChild(deleteButton);
                fileList.push(file);
                var fileLength = fileList.length + existFiles.length;
                fileLabel.innerText = "파일 추가 ("+fileLength+"/10)";
            }

            var deleteFiles = document.querySelectorAll('button[name="deleteFile"]');
            if (deleteFiles.length != 0) {
                for (var i=0; i<deleteFiles.length; i++) {
                    const deleteName = deleteFiles[i].getAttribute("data-name");
                    deleteFiles[i].addEventListener('click', function() {
                        for (var j=0; j<fileList.length; j++) {
                            if (fileList[j].name === deleteName) {
                                fileList.splice(j, 1);
                            } else if (existFiles.length > 0 && existFiles[j].originalName === deleteName) {
                                existFiles.splice(j, 1);
                            }
                        }
                        event.target.parentElement.remove();
                        deleteFiles = document.querySelectorAll('button[name="deleteFile"]');
                        var fileLength = fileList.length + existFiles.length;
                        fileLabel.innerText = "파일 추가 ("+fileLength+"/10)";
                    });
                }
            }
        });

        imageFile.addEventListener('change', function() {
            const image = event.target.files[0];
            setDataURL(image, imgList);
        });

        imageLabel.addEventListener('click', function() {
            const imageNumber = document.querySelectorAll('img').length;
            if (imageNumber === 10) {
                alert('업로드 가능한 이미지는 최대 10장입니다.');
                event.preventDefault();
            }
        });

        fileLabel.addEventListener('click',function() {
            if (fileList.length + fileNames.length >= 10) {
                alert('업로드 가능한 파일은 10개입니다.');
                event.preventDefault();
            }
        });

        const contentDiv = document.getElementById('content');
        contentDiv.addEventListener('keydown', deleteImage);

        function modify() {
            clearText(["titleError", "contentError"]);
            var academy = $('#academy').val();
            var number = $('#number').val();
            var title = $('#title').val();

            const imgArray = findImgPosition("new");
            const existImgArray = findImgPosition("exist");
            const contentText = getContentText();
            const json = {
                "academy": academy,
                "number": number,
                "title": title,
                "content": contentText,
            };

            var formData = new FormData();
            formData.append("noticeFormDTO", new Blob([JSON.stringify(json)], {type:"application/json"}));

            formData.append("existFiles", new Blob([JSON.stringify(fileNames)], {type:"application/json"}));
            if (fileList.length > 0) {
                fileList.forEach(function(file){
                    formData.append("files", file);
                });
            }
            if (imgList.length > 0) {
                imgList.forEach(function(img){
                    formData.append("images", img);
                });
            }

            formData.append("imgArray", new Blob([JSON.stringify(imgArray)], {type:"application/json"}));
            formData.append("existImgArray", new Blob([JSON.stringify(existImgArray)], {type:"application/json"}));

            if (title && (contentText || imgArray.length > 0 || existImgArray.length > 0)) {

                $.ajax({
                    url: '/notice/modify',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    headers: {"X-AUTH-TOKEN": localStorage.getItem("jwt")},
                    data: formData,
                    success: function() {
                        history.back();
                    },
                    error: function(xhr, response) {
                        jwtFilter();
                        try {
                            var errorMessage = JSON.parse(xhr.responseText);
                            checkBindingResult(errorMessage);
                            if (errorMessage.error === "MaxUploadSizeExceededException") {
                                alert("파일 및 이미지의 크기가 8MB를 초과했습니다.");
                            }
                            console.error(xhr.responseText);
                        } catch (e) {
                            console.log(xhr.responseText);
                        }
                    },
                });
            } else {
                alert('모든 항목을 작성해주세요.');
            }

        }
        </script>
</div>
</body>
</html>
