<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3>수정 화면</h3>
    <form th:object="${notice}" class="margin-left20">
        <input type="hidden" th:field="*{acaNum}" id="academy">
        <input type="hidden" th:field="*{notNum}" id="number">
        제목<input type="text" class="form-control" th:field="*{title}">
        <p id="titleError"></p><br>
        내용<input type="text" class="form-control" th:field="*{content}">
        <p id="contentError"></p><br>
        <button type="button" id="modifyBtn" class="custom-button-yellow">수정</button>
        <button type="button" id="cancelBtn" class="custom-button-yellow">취소</button>
    </form>

    <script th:inline="javascript">
        $(function() {
            $('#modifyBtn').click(function() {
                modify();
            });
            $('#cancelBtn').on("click", function() {
                history.back();
            });
        });

        function clearText() {
            var pTag = ["titleError", "contentError"];
            for (var tag in pTag) {
                var pElement = document.getElementById(tag);
                if (pElement != null) {
                    pElement.textContent="";
                }
            }
        }



        function modify() {
            clearText();
            var academy = $('#academy').val();
            var number = $('#number').val();
            var title = $('#title').val();
            var content = $('#content').val();

            if (title && content) {

                $.ajax({
                    url: '/notice/modify',
                    type: "POST",
                    contentType: "application/json",
                    headers: {"X-AUTH-TOKEN": localStorage.getItem("jwt")},
                    data: JSON.stringify({
                        "academy":academy,
                        "number":number,
                        "title":title,
                        "content":content,
                    }),
                    success: function() {
                        location.href = "/notice/list?academy="+academy;
                    },
                    error: function(xhr, response) {
                        jwtFilter();
                        try {
                            var errorMessage = JSON.parse(xhr.responseText);
                            if (errorMessage.BindingResultError) {
                                for (var err in errorMessage) {
                                    if (document.getElementById(err)) {
                                        var errElement = document.getElementById(err);
                                        errElement.textContent = errorMessage[err];
                                        errElement.classList.add("alert", "alert-warning");
                                    }
                                }
                            }
                        } catch (e) {
                            console.log(xhr.responseText);
                        }
                    },
                });
            } else {
                alert('모든 항목을 작성해주세요.');
            }

        }
        </script>
</div>
</body>
</html>