<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3 class="custom-text font-bold">[[${notice.acaName}]] 공지사항</h3><br>
    <div class="read-box-white">
        <div class="read-box2">
            <div class="border-tb">
                <span th:text="${notice.title}" id="title" class="font-bold flex-center">제목</span><br>
                <span th:text="${#temporals.format(notice.createdAt, 'yyyy년 MM월 dd일')}" id="createdAt" class="title-date"></span><br>
            </div>
            <div class="content-box">
                <div th:utext="${notice.content}" id="content" style="white-space:pre-line;"></div><br>
                <div th:each="file : ${files}" class="file-info">
                    <a href="${file.filePath}" class="file-name" download>[[${file.originalName}]]</a>
                    <p th:text="${file.fileSize}" class="file-size"></p>
                </div>
            </div>



            <input type="hidden" th:value="${notice.notNum}" id="number">
            <input type="hidden" th:value="${academy}" id="academy">

            <div class="button-distance" style="padding: 0px 50px 0px 50px;">
                <button type="button" id="modifyBtn" class="custom-button-yellow">수정하기</button>
                <button type="button" id="deleteBtn" class="custom-button-yellow">삭제하기</button>
            </div>

        </div>
    </div>

    <script th:inline="javascript">

        $(function() {

            $('#modifyBtn').on("click", function() {
                modify();
            });

            $('#deleteBtn').on("click", function() {
                delete_notice();
            });

        });

        function modify() {
            var number = [[${notice.notNum}]];
            var academy = [[${academy}]];

            $.ajax({
                url: '/notice/modify?number='+number,
                type: 'GET',
                contentType: "application/json",
                data: {"number":number},
                success: function() {
                    location.href="/notice/modify?number="+number;
                },
            });
        }

        function delete_notice() {
            var number = $('#number').val();

            $.ajax({
                url: '/notice/delete?number='+number,
                type: 'POST',
                contentType: "application/json",
                data: {"number":number},
                success: function() {
                    alert("삭제가 완료되었습니다.");
                    history.back();
                },
            });
        }

    </script>
</div>
</body>

</html>