<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3>공지사항</h3>

            <span th:text="${notice.acaName}"></span><br>

            <span th:text="${notice.title}" id="title">제목</span><br>
            <span th:text="${notice.createdAt}" id="createdAt"></span><br>
            <span th:text="${notice.content}" id="content"></span><br>

    <input type="hidden" th:value="${notice.notNum}" id="number">
    <input type="hidden" th:value="${academy}" id="academy">

    <button type="button" id="modifyBtn">수정하기</button>
    <button type="button" id="deleteBtn">삭제하기</button>

    <script th:inline="javascript">

        $(function() {

            $('#modifyBtn').on("click", function() {
                modify();
            });

            $('#deleteBtn').on("click", function() {
                delete_notice();
            });

        });

        function modify() {
            var number = [[${notice.notNum}]];
            var academy = [[${academy}]];

            $.ajax({
                url: '/notice/modify?number='+number,
                type: 'GET',
                contentType: "application/json",
                data: {"number":number},
                success: function() {
                    location.href="/notice/modify?number="+number;
                },
            });
        }

        function delete_notice() {
            var number = $('#number').val();

            $.ajax({
                url: '/notice/delete?number='+number,
                type: 'POST',
                contentType: "application/json",
                data: {"number":number},
                success: function() {
                    alert("삭제가 완료되었습니다.");
                    history.back();
                },
            });
        }

    </script>
</div>
</body>

</html>