<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3 class="custom-text font-bold">등록 화면</h3><br>
    <form th:object="${notice}" class="custom-form">
        <input type="hidden" th:value="${academy}" id="academy">
        <span class="custom-span span-center">제목</span>
        <input type="text" class="custom-form-control margin-top10 w-auto" th:field="*{title}">
        <p id="titleError"></p><br>
        <div>

        </div>
        <span class="custom-span span-center">내용</span>
        <div>
            <div class="custom-form-control input-content" th:field="*{content}" id="content" contenteditable="true"></div>
            <p id="contentError"></p><br>
            <span class="custom-span">첨부 파일 목록</span>
            <div class="custom-form-control file-name" id="selectedFile" style="display:block; height:fit-content; min-height:32px;"></div>
            <div class="button-distance" style="margin-top:20px;">
                <input type="file" id="imageFile" style="display:none;">
                <label class="custom-button-mint select-file" for="imageFile">이미지 추가</label>
                <input type="file" id="inputFile" style="display:none;" multiple="multiple">
                <label class="custom-button-mint select-file" for="inputFile">첨부 파일 추가</label>
            </div>
        </div>
        <div class="button-distance">
            <button type="button" id="registerBtn" class="custom-button-yellow">등록</button>
            <button type="button" id="cancelBtn" class="custom-button-yellow">취소</button>
        </div>
    </form>
    <script th:inline="javascript">
        $(function() {
            $('#registerBtn').click(function() {
                register();
            });
            $('#cancelBtn').on("click", function() {
                history.back();
            });
        });

        const imageFile = document.getElementById('imageFile');
        const inputFile = document.getElementById('inputFile');
        const selectedFile = document.getElementById('selectedFile');
        let fileList = [];
        let imgList = [];

        inputFile.addEventListener('change', function() {
            for (const file of event.target.files) {
                const fileDiv = document.createElement("div");
                fileDiv.setAttribute("style", "display:flex;");
                selectedFile.appendChild(fileDiv);
                const fileName = document.createElement("p");
                fileName.innerHTML = file.name;
                fileName.setAttribute("id", file.name);
                fileDiv.appendChild(fileName);
                var deleteButton = document.createElement("button");
                deleteButton.textContent = "X";
                deleteButton.setAttribute("name", "deleteFile");
                deleteButton.setAttribute("type", "button");
                deleteButton.setAttribute("data-name", file.name);
                fileDiv.appendChild(deleteButton);
                fileList.push(file);
            }

            var deleteFiles = document.querySelectorAll('button[name="deleteFile"]');
            if (deleteFiles.length != 0) {
                for (var i=0; i<deleteFiles.length; i++) {
                    const number = i;
                    const fileN = deleteFiles[i].getAttribute("data-name");
                    deleteFiles[i].addEventListener('click', function() {
                        for (var i=0; i<fileList.length; i++) {
                            if (fileList[i].name == fileN) {
                                const index = i;
                                fileList.splice(index,1);
                            }
                        }
                            document.getElementById(fileN).remove();
                            event.target.remove();
                        deleteFiles = document.querySelectorAll('button[name="deleteFile"]');
                    });
                }
            }

        });

        imageFile.addEventListener('change', function() {
            const image = event.target.files[0];
            const reader = new FileReader();
            const content = document.getElementById('content');

            reader.readAsDataURL(image);

            reader.onload = () => {
                const dataURL = reader.result;
                const imgDiv = document.createElement("div");
                content.appendChild(imgDiv);
                const img = document.createElement("img");
                img.setAttribute("src", dataURL);
                img.setAttribute("draggable", "true");
                img.setAttribute("style", "max-height:600px; max-width:600px;");
                img.setAttribute("data-name", image.name);
                imgDiv.appendChild(img);
                //const imgIn = document.createElement("p");
                //imgIn.innerHTML = "(IMAGE_INCLUDED)";
                //imgIn.setAttribute("style", "display:none;");
                //imgDiv.appendChild(imgIn);
                imgList.push(image);
            };
        });

        const contentDiv = document.getElementById('content');
        contentDiv.addEventListener('keydown', function() {
            if (event.key === 'Backspace' || event.keyCode === 8) {
                const selection = window.getSelection().getRangeAt(0).endContainer.firstChild.nodeName;
                const tagName = window.getSelection().getRangeAt(0).endContainer.firstChild.dataset.name;
                console.log(window.getSelection().getRangeAt(0));
                console.log(tagName);
                if (selection != null && selection === "IMG") {
                    if (confirm("사진을 삭제하시겠습니까?")) {
                        for (var i=0; i<imgList.length; i++) {
                            if (imgList[i].name == tagName) {
                                imgList.splice(i, 1);
                            }
                        }
                    } else {
                        event.preventDefault();
                    }

                }
            }
        });

        function findImgPosition() {
            const content = document.getElementById('content');
            const contentHTML = content.innerHTML;
            let imgIndex = [];
            const images = content.querySelectorAll('img');
            console.log(images);
            for (var i=0; i<images.length; i++) {
                const dataName = images[i].getAttribute("data-name");
                const regex = new RegExp(dataName, 'i');
                if (contentHTML.match(regex)) {
                    const matchArray = contentHTML.match(regex);
                    console.log(matchArray);
                    const imgArray = [dataName, i, matchArray.index];
                    console.log(imgArray);
                    imgIndex.push(imgArray);
                }
            }
            console.log(imgIndex);
            return imgIndex;
        }

        function clearText() {
            var pTag = ["title", "content"];
            for (var tag in pTag) {
                var pElement = document.getElementById(tag);
                if(pElement != null) {
                    pElement.textContent = "";
                }
            }
        }

        function register() {
            clearText();
            var academy = Number($('#academy').val());
            var title = $('#title').val();
            const images = document.getElementById('content').querySelectorAll('img');
            var imgArr = [];
            /*
            images.forEach(img => {
                document.getElementById('content');
            });*/
            const content = document.getElementById('content').value;
            var allContent = document.getElementById('content').innerHTML;

            const json = {
                    "academy":academy,
                    "title":title,
                    "content":content,
                };

            var formData = new FormData();
            formData.append("noticeFormDTO", new Blob([JSON.stringify(json)], {type:"application/json"}));
            formData.append("files", fileList);
            formData.append("images", allContent);

            if (title && content) {
                $.ajax({
                    url: '/notice/register',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    headers: {"X-AUTH-TOKEN": localStorage.getItem("jwt")},
                    data: JSON.stringify(json),
                    success: function() {
                        history.back();
                    },
                    error: function(xhr, response) {
                        jwtFilter();
                        try {
                            var errorMessage = JSON.parse(xhr.responseText);
                            if (errorMessage.BindingResultError) {
                                for (var err in errorMessage) {
                                    if (document.getElementById(err)) {
                                        var errElement = document.getElementById(err);
                                        errElement.textContent = errorMessage[err];
                                        errElement.classList.add("alert", "alert-warning");
                                    }
                                }
                            }
                        } catch (e) {
                            console.log(xhr.responseText);
                        }
                    },
                });
            } else {
                alert('모든 항목을 작성해주세요.');
            }
        }
    </script>
</div>

</body>
</html>