<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3>등록 화면</h3>
    <form th:object="${notice}">
        <input type="hidden" th:value="${academy}" id="academy">
        제목<input type="text" th:field="*{title}">
        <p th:if="${#fields.hasError('title')}" th:errors="*{title}" class="fieldError"></p><br>
        내용<input type="text" th:field="*{content}">
        <p th:if="${#fields.hasError('content')}" th:errors="*{content}" class="fieldError"></p><br>
        <button type="button" id="registerBtn">등록</button>
    </form>
    <script th:inline="javascript">
        $(function() {
            $('#registerBtn').click(function() {
                register();
            });
        });

        function register() {
            var academy = Number($('#academy').val());
            var title = $('#title').val();
            var content = $('#content').val();

            const json = {
                    "academy":academy,
                    "title":title,
                    "content":content,
                };

            $.ajax({
                url: '/notice/register',
                type: "POST",
                contentType: "application/json",
                headers: {"X-AUTH-TOKEN": localStorage.getItem("jwt")},
                data: JSON.stringify(json),
            }).then((response) => {
                if (title != null && content != null) {
                    history.back();
                } else {
                    alert('모든 항목을 작성해주세요.');
                };
            });
        }
    </script>
</div>

</body>
</html>