<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
    <div layout:fragment="content">

        <form role="form" method="post" action="/member/loginCheck">
            <div>
                <label th:for="email">이메일 주소</label>
                <input type="email" id="email" name="email" class="form-control">
            </div>
            <div>
                <label th:for="password">비밀번호</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <p th:if="${msg}" class="error" th:text="${msg}"></p>
            <button type="button" class="btn btn-primary" id="loginBtn">로그인</button>
            <button type="button" class="btn btn-primary" onclick="location.href='/member/join';">회원 가입</button>
            <input type="hidden" th:name="${token}" th:value="${token}">
            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
        </form>
    </div>

    <script type="text/javascript">
    function login_check() {
        var email = $('input[name="email"]).val();
        var password = $('input[name="password"]).val();
        var token = $('#token').val();

        $.ajax({
            type = "POST",
            url = "http://localhost:8088/member/loginCheck",
            contentType : "application/json",
            data: JSON.stringify({"email":email, "password":password}),
            success: localStorage.setItem("jwt", token),
            error: function(jqXHR, status, error) {
                alert(error);
            }
        });
    }
    function test() {
        console.log('test!!');
    }

    $(document).ready(function() {
        $('.loginBtn').click(function() {
            console.log('test is completed!');
        });
    });

        $(function () {
            $('.log').click((e) => {
                var email = $('#email').val();
                var password = $('#password').val();

                if (id == '') {
                    alert('아이디를 입력해주세요');
                    e.preventDefault();
                }
                if (password == '') {
                    alert('패스워드를 입력해주세요');
                    e.preventDefault();
                }

                if (id != '' && password !='') {
                    const path = 'http://localhost:8088/member/loginCheck';
                    const json = JSON.stringify({
                        'email': email,
                        'password': password,
                    });
                    $.ajax({
                        url: path,
                        type: 'POST',
                        contentType: "application/json",
                        data: json,
                    }).done((response) => {
                        if (response == 'success') {
                            alert('로그인 성공')
                            localStorage.setItem('email', email);
                            location.href = "http://localhost:8088/academy/main"
                        } else {
                            alert(response);
                        }
                    });
                }
            });
        })
    </script>
</body>

</html>