<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<div layout:fragment="content">
    이름:
    <span th:text="${memberDTO.name}" id="name">이름</span><br>
    이메일:
    <span th:text="${memberDTO.email}" id="email">이메일</span><br>
    주소:
    <span th:text="${memberDTO.address}">주소</span><br>

    <input type="hidden" th:value="${memberDTO.memNum}" id="number">
    <button type="button" id="academyBtn">학원 리스트</button><br>
    <button type="button" id="reviewBtn">작성한 학원 리뷰</button>

    <button type="button" id="modifyBtn">회원 정보 수정</button>
    <button type="button" id="authBtn">회원 권한 요청</button>
    <button type="button" id="deleteBtn">회원 탈퇴</button>

    <script th:inline="javascript">

        $(function() {

            $('#modifyBtn').on("click", function() {
                modify();
            });

            $('#deleteBtn').on("click", function() {
                delete_member();
            });

            $('#academyBtn').on("click", function() {
                academyList();
            });

            $('#reviewBtn').on("click", function() {
                reviews();
            });

            $('#authBtn').on("click", function() {
                requestAuth();
            });

        });

        function modify() {
            var number = $('#number').val();

            $.ajax({
                url: '/member/modify?number='+number,
                type: 'GET',
                contentType: "application/json",
                data: {"number":number},
                success: function() {
                    location.href='/member/modify?number='+number;
                },
            });
        }

        function delete_member() {
            var number = $('#number').val();

            var result = confirm("회원 탈퇴를 진행하시겠습니까?");

            if (result) {
                $.ajax({
                    url: '/member/withdraw?number='+number,
                    type: 'POST',
                    contentType: "application/json",
                    data: {"number":number},
                    success: function() {
                        location.href='/academy/main';
                    },
                });
            }
        }

        function academyList() {
            var number = $('#number').val();

            $.ajax({
                url: '/academy/joined?number='+number,
                type: 'GET',
                contentType: "application/json",
                data: {"number":number},
                success: function() {
                    location.href="/academy/joined?number="+number;
                },
            });
        }

        function reviews() {
            var member = $('#number').val();

            $.ajax({
                url: '/review/by',
                type: 'GET',
                contentType: "application/json",
                data: {"member":member},
                success: function() {
                    location.href='/review/by?member='+member;
                },

            });
        }

        function requestAuth() {
            $.ajax({
                url: '/auth/request',
                type: 'GET',
                contentType: "application/json",
                success: function(response) {
                var number = Number(response.number);
                    if (number != undefined && !isNaN(number)) {
                        console.log(number);
                        if (confirm("요청한 권한이 존재합니다. 확인하시겠습니까?")) {
                            window.location.href = "/auth/get?number="+number;
                        }
                    } else {
                        console.log("other");
                        window.location.href = "/auth/request";
                    }
                },
            });
        }

    </script>
</div>

</html>