<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    이름:
    <span th:text="${member.name}" id="name">이름</span><br>
    주소:
    <span th:text="${member.address}">주소</span><br>
    <input type="hidden" th:field="${member.memNum}" id="number">
    <button type="button" id="academyBtn">학원 리스트</button><br>

    <button type="button" id="modifyBtn">수정하기</button>
    <button type="button" id="deleteBtn">삭제하기</button><!-- th:onclick="'location.href=\''+@{/academy/delete?number={number}(number=${academy.acaNum})}+'\';'">삭제하기</button>-->

    <script th:inline="javascript">

        $(function() {

            $('#modifyBtn').on("click", function() {
                modify();
            });

            $('#deleteBtn').on("click", function() {
                delete_member();
            });

            $('#academyBtn').on("click", function() {
                academyList();
            });

        });

        function modify() {
            var token = localStorage.getItem("jwt");
            var number = $('#number').val();

            $.ajax({
                url: '/member/modify',
                type: 'GET',
                contentType: "application/json",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-AUTH-TOKEN", token)
                },
                data: {"number":number},
                success: function() {
                    location.href='/member/modify?number='+number;
                },
            });
        }

        function delete_member() {
            var token = localStorage.getItem("jwt");
            var number = $('#number').val();

            $.ajax({
                url: '/member/delete',
                type: 'GET',
                contentType: "application/json",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-AUTH-TOKEN", token)
                },
                data: {"number":number},
                success: function() {
                    location.href='/academy/main';
                },
            });
        }

        function academyList() {
            var token = localStorage.getItem("jwt");
            var number = $('#number').val();

            $.ajax({
                url: '/academy/joined',
                type: 'GET',
                contentType: "application/json",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-AUTH-TOKEN", token)
                },
                //date: {"number":number},
                success: function() {
                    location.href="/academy/joined";
                },
            });
        }

    </script>
</div>
</body>

</html>