<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3>회원 가입</h3>
    <form th:object="${member}">

        이메일<input type="email" th:field="*{email}">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError"></p><br>
        비밀번호<input type="password" th:field="*{password}">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError"></p><br>
        비밀번호 확인<input type="password" id="password2"><br>
        이름<input type="text" th:field="*{name}">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError"></p><br>
        주소
        <div th:field="*{address}">
            <input type="text" name="address" id="postcode" placeholder="우편번호">
            <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
            <input type="text" name="address" id="roadAddress" placeholder="도로명주소">
            <input type="text" name="address" id="jibunAddress" placeholder="지번주소">
            <span id="guide" style="color:#999;display:none"></span>
            <input type="text" name="address" id="detailAddress" placeholder="상세주소">
            <input type="text" name="address" id="extraAddress" placeholder="참고항목">
        </div><br>
        <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="fieldError"></p><br>

        <button type="button" id="registerBtn">등록</button>
    </form>
    <script th:inline="javascript">
    $(function() {

        $('#registerBtn').on("click", function() {
            register();
        });

    });

    function register() {
        var email = $('#email').val();
        var password = $('#password').val();
        var password2 = $('#password2').val();
        var name = $('#name').val();

        var address = '';
        $('input[name=address]').map(function(){
        if ('input[name=address]') {
        address += $(this).val();
        address += ' ';
        }
        });
        address = $.trim(address);

        if (email && password && name) {

            if (password == password2) {

                $.ajax({
                    url: '/member/join',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                    "email":email,
                    "password":password,
                    "name":name,
                    "address":address,
                    }),
                    success: function() {
                        history.back();
                    },
                });
            } else {
                alert('패스워드와 패스워드 확인이 일치하지 않습니다.');
            }
        } else {
            alert('모든 항목을 입력해주세요.');
        }
    }
    </script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                       extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraRoadAddr !== ''){
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('postcode').value = data.zonecode;
                    document.getElementById("roadAddress").value = roadAddr;
                    document.getElementById("jibunAddress").value = data.jibunAddress;

                    // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                    if(roadAddr !== ''){
                        document.getElementById("extraAddress").value = extraRoadAddr;
                    } else {
                        document.getElementById("extraAddress").value = '';
                    }

                    var guideTextBox = document.getElementById("guide");
                    // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                    if(data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        guideTextBox.style.display = 'block';

                    } else if(data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else {
                        guideTextBox.innerHTML = '';
                        guideTextBox.style.display = 'none';
                    }
                }
            }).open();
        }
</script>
</div>
</body>
</html>