<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3 class="custom-text font-bold">Academy</h3>
    <button type="button" class="custom-button-yellow float-r" id="registerBtn">학원 등록</button> <!--th:onclick="'location.href=\''+@{/academy/register}+'\';'">학원 등록</button>-->
    <div th:if="${academy.isEmpty()}" class="flex-center">
        <h3 class="flex-center null-content">등록된 학원이 존재하지 않습니다.</h3>
    </div>

    <div th:if = "${!academy.isEmpty()}">
        <table class="table table-borderless table-hover">
            <thead align="center">
            <tr class="custom-text font-bold">
                <th scope="col">학원 이름</th>
                <th scope="col">평점</th>
                <th scope="col">학원 위치</th>
                <th scope="col">수강 과목</th>
            </tr>
            </thead>
            <tbody align="center">
            <tr th:each="aca : ${academy}">
                <td><a th:text="${aca.acaName}" th:href="@{/academy/read(number=${aca.acaNum})}">학원 이름</a></td>
                <td>
                    <div>
                        <span th:if="${aca.grade == null}"></span>
                        <span th:if="${aca.grade != null}" th:text="${#numbers.formatDecimal(aca.grade, 1, 1)}" class="grade-text">평점</span>
                        <span th:if="${aca.reviewCount != 0}" th:text="'('+${aca.reviewCount}+')'" class="review-count"></span>
                    </div>
                </td>
                <td><span th:text="${aca.shortLocation}" style="font-size:85%"></span></td>
                <td><ul class="ul-none"><li class="ul-none-li" th:each="sub : ${aca.subject}" th:value="${sub}" th:text="${sub.description}"></li></ul></td>
            </tr>
            </tbody>
        </table>

        <div th:insert="fragments/searchBtn :: searchBtn"></div>

            <nav th:with = "pageNumber=${academy.pageable.pageNumber}, pageSize=${academy.pageable.pageSize},
                            totalPages=${academy.totalPages}, startPage=${T(java.lang.Math).floor(pageNumber/pageSize)*pageSize+1},
                            tempEndPage=${startPage+pageSize-1}, endPage=(${tempEndPage>totalPages?totalPages:tempEndPage})"
             aria-label="Page-navigation">
            <ul class="pagination">
                <li th:classappend="${pageNumber+1<=pageSize}?'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/academy/list(page=1)}">
                        <span>&laquo;</span>
                        <span class="sr-only">첫페이지로</span>
                    </a>
                </li>

                <li th:classappend="${academy.first}?'disabled'" class="page-item">
                    <a class="page-link" th:href="${academy.first}?'#':(${#numbers.formatDecimal(startPage-pageSize, 0, -1)}<10?@{/academy/list(page=1)}:@{/academy/list(page=${#numbers.formatDecimal(startPage-pageSize, 0, -1)}+1)})"
                       aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                        <span class="sr-only">이전 페이지</span>
                    </a>
                    </li>
                </li>

                <li th:each="page:${#numbers.sequence(startPage, endPage)}" th:classappend="${page==pageNumber+1}?'active'" class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{/academy/list(page=${page})}"></a>
                </li>

                <li th:classappend="${academy.last}?'disabled'" class="page-item">
                    <a class="page-link" th:href="${academy.last}?'#':(${tempEndPage<=endPage-pageSize}?@{/academy/list(page=${#numbers.formatDecimal(startPage+pageSize, 0, -1)})}:@{/academy/list(page=${endPage})})"
                       aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                        <span class="sr-only">다음 페이지</span>
                    </a>
                </li>

                <li th:classappend="${T(java.lang.Math).floor(totalPages/10)*10<=startPage}?'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/academy/list(page=${totalPages})}">
                        <span>&raquo;</span>
                        <span class="sr-only">마지막으로</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <script th:inline="javascript">
        $(document).ready(function() {

            $('#registerBtn').click(function() {
                register();
            });

        });

        function register() {
            $.ajax({
                url: '/academy/register',
                type: 'GET',
                contentType:"application/json",
                success: function() {
                    location.href="/academy/register";
                },
            });
        }



    </script>
</div>
</body>
</html>