<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3 class="custom-text font-bold">Academy</h3>
    <button type="button" class="register" id="registerBtn">학원 등록</button> <!--th:onclick="'location.href=\''+@{/academy/register}+'\';'">학원 등록</button>-->
    <div th:if="${academy.isEmpty()}">
        등록된 학원이 존재하지 않습니다.
    </div>

    <div th:if = "${!academy.isEmpty()}">
        <table class="table table-borderless table-hover">
            <thead align="center">
            <tr class="custom-text font-bold">
                <th scope="col" style="width:50%">학원 이름</th>
                <th scope="col">평점</th>
                <th scope="col">학원 위치</th>
                <th scope="col">수강 과목</th>
            </tr>
            </thead>
            <tbody align="center">
            <tr th:each="aca : ${academy}">
                <td><a th:text="${aca.acaName}" th:href="@{/academy/read?number={number}(number=${aca.acaNum})}">학원 이름</a></td>
                <td><span th:text="${aca.grade}" class="grade-text">평점</span></td>
                <!--<td><span th:text="${#strings.substring(aca.location, 6, #strings.length(aca.location))}">학원 위치</span></td>-->
                <td><span th:text="${aca.shortLocation}" style="font-size:85%"></span></td>
                <td><li th:each="sub : ${aca.subject}" th:value="${sub}" th:text="${sub.description}"></li></td>

            </tr>
            </tbody>
        </table>

        <div class="input-group justify-content-center">
            <div class="input-group-prepend">
                <select name="search_category" class="custom-select">
                    <option name="search_category" value="name">학원명</option>
                    <option name="search_category" value="location">학원 위치</option>
                    <option name="search_category" value="name&location">학원명+위치</option>
                    <option name="detailed_search" data-toggle="collapse" data-target="#detailed_search">상세 검색 옵션 열기</option>
                </select>
                <input class="form-control" type="search" aria-label="Search" id="searchKeyword">
                <button class="custom-button-yellow" type="button" id="academySearchBtn">Search</button>
            </div>
            <div class="input-group-append">
                <button type="button" class="custom-button-yellow" data-toggle="collapse" data-target="#detailed_search">상세 검색</button>
            </div>
        </div>

        <div class="card card-body collapse" id="detailed_search">
            <div class="row">
                <div class="col">
                    <div class="form-group form-inline">
                        <div class="input-group-prepend">
                            <span class="input-group-text">학원명</span>
                            <input type="text" class="form-control" id="name_keyword">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-inline">
                        <span class="input-group-text">학원 위치</span>
                        <input type="text" class="form-control" id="location_keyword">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-inline">
                        <button type="button" class="btn btn-primary" id="detailedSearchBtn">상세 검색</button>
                    </div>
                </div>
            </div>
            <div class="card card-body" style="display:inline-block">
                <div class="custom-control custom-radio custom-control-inline">
                    <div th:each="sub, subStat:${subject}" >
                        <input type="checkbox" th:value="${sub}" th:name="subject_checkbox" id="subject_keyword" class="custom-checkbox">
                        <label th:for="'subject_keyword'+${subStat.index}" th:text="${sub.description}" class="custom-label"></label>
                    </div>
                </div>
            </div>
        </div>



            <nav th:with = "pageNumber=${academy.pageable.pageNumber}, pageSize=${academy.pageable.pageSize},
                            totalPages=${academy.totalPages}, startPage=${T(java.lang.Math).floor(pageNumber/pageSize)*pageSize+1},
                            tempEndPage=${startPage+pageSize-1}, endPage=(${tempEndPage>totalPages?totalPages:tempEndPage})"
             aria-label="Page-navigation">
            <ul class="pagination">
                <li th:classappend="${pageNumber+1<=pageSize}?'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/academy/list(page=1)}">
                        <span>&laquo;</span>
                        <span class="sr-only">첫페이지로</span>
                    </a>
                </li>

                <li th:classappend="${academy.first}?'disabled'" class="page-item">
                    <a class="page-link" th:href="${academy.first}?'#':(${#numbers.formatDecimal(startPage-pageSize, 0, -1)}<10?@{/academy/list(page=1)}:@{/academy/list(page=${#numbers.formatDecimal(startPage-pageSize, 0, -1)}+1)})"
                       aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                        <span class="sr-only">이전 페이지</span>
                    </a>
                    </li>
                </li>

                <li th:each="page:${#numbers.sequence(startPage, endPage)}" th:classappend="${page==pageNumber+1}?'active'" class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{/academy/list(page=${page})}"></a>
                </li>

                <li th:classappend="${academy.last}?'disabled'" class="page-item">
                    <a class="page-link" th:href="${academy.last}?'#':(${tempEndPage<=endPage-pageSize}?@{/academy/list(page=${#numbers.formatDecimal(startPage+pageSize, 0, -1)})}:@{/academy/list(page=${endPage})})"
                       aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                        <span class="sr-only">다음 페이지</span>
                    </a>
                </li>

                <li th:classappend="${T(java.lang.Math).floor(totalPages/10)*10<=startPage}?'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/academy/list(page=${totalPages})}">
                        <span>&raquo;</span>
                        <span class="sr-only">마지막으로</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <script th:inline="javascript">
        $(document).ready(function() {

            $('#registerBtn').click(function() {
                register();
            });

            $('#detailedSearchBtn').click(function() {
                detailedSearch();
            });

            $('#academySearchBtn').click(function() {
                academySearch();
            });

        });

        function register() {
            $.ajax({
                url: '/academy/register',
                type: 'GET',
                contentType:"application/json",
                success: function() {
                    location.href="/academy/register";
                }
            });
        }


        function getSubject() {
            var subject = [];
            var subjects = $("input[name=subject_checkbox]:checkbox");
            for ( var i = 0; i < subjects.length; i++) {
                if (subjects[i].checked == true ) {
                    subject.push(subjects[i].value);
                }
            }
            return subject;
        }

        function detailedSearch() {
            var name = $('#name_keyword').val();
            var location =$('#location_keyword').val();
            var subject = getSubject();
            var categories = [{"name":name}, {"location":location}, {"subject":subject}];
            var searchData = {};
            var urlString = "";

            for (var i=0; i<categories.length; i++) {
                for (var category in categories[i]) {
                    if (categories[i][category] !== "" && categories[i][category].length > 0) {
                        searchData[category] = categories[i][category];
                        urlString += category + "=" + categories[i][category] + "&";
                    }
                }
            }

            if (urlString !== "") {
                urlString = urlString.slice(0,-1);
            } else {
                alert("검색어를 입력해주세요.");
            }

            $.ajax({
                url: '/academy/search',
                type: 'GET',
                contentType:"application/json",
                data: {
                    "name":searchData.name,
                    "subject":searchData.subject,
                    "location":searchData.location,
                },
                success: function() {
                    window.location.href="/academy/search?"+urlString;
                },
            });
        }


        function academySearch() {
            var category = $("option[name=search_category]:selected").val();
            var keyword = $('#searchKeyword').val();
            var searchData = {};
            var urlString = "";

            if (keyword === "") {
                alert("검색어를 입력해주세요.");
            }

            if (category == "name") {
                searchData.name = keyword;
            } else if (category == "location") {
                searchData.location = keyword;
            } else if (category == "name&location") {
                searchData.name = keyword;
                searchData.location = keyword;
            }

            for (var property in searchData) {
                if (searchData[property] !== undefined && searchData[property] !== "") {
                    urlString += property + "=" + searchData[property] + "&";
                }
            }

            if (urlString !== "") {
                urlString = urlString.slice(0,-1);
            }

            $.ajax({
                url: '/academy/search',
                type: 'GET',
                contentType: "application/json",
                data: {
                    "name":searchData.name,
                    "location":searchData.location,
                    },
                success: function() {
                    location.href='/academy/search?'+urlString;
                },
            });

        }

    </script>
</div>
</body>
</html>