<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<div layout:fragment="content">
    <h3 align="center">Academy</h3>
    <div>
        <button type="button" class="academy" th:onclick="'location.href=\''+@{/academy/list}+'\';'">학원 보러가기</button>
        <button type="button" class="member_register" th:onclick="'location.href=\''+@{/member/join}+'\';'">회원 가입</button>
    </div>
    <script th:inline="javascript">
    </script>
</div>
</html>