<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <meta charset="UTF-8">
<body>
    <div layout:fragment="content">
        <h3>수정 화면</h3>
        <form th:object="${academy}">

            <input type="hidden" th:field="*{acaNum}">
            학원 이름<input type="text" th:field="*{acaName}"><br>
            학원 위치<input type="text" th:field="*{location}"><br>
            수강 과목<br>
            <div th:each="sub : ${subject}" class="form-check form-check line">
                <input type="checkbox" th:field="*{subject}" th:value="${sub}" class="form-check-input">
                <label th:for="${#ids.prev('subject')}" th:text="${sub.description}" class="form-check-label"></label>
            </div>

            <button type="button" id="modifyBtn">수정</button>
            <!--<input type="submit" value="등록">-->
        </form>

        <script th:inline="javascript">

        $(function() {
            $('#modifyBtn').on("click", function() {
                modify();
            });
        });

        function getSubject() {
            var subject = [];
            var subjects = $("input[name=subject]:checkbox");
            for ( var i = 0; i < subjects.length; i++) {
                if (subjects[i].checked == true ) {
                    subject.push(subjects[i].value);
                }
            }
            return subject;
        }

        function modify() {
            var acaNum = $('#acaNum').val();
            var acaName = $('#acaName').val();
            var location = $('#location').val();
            var subject = getSubject();

            if (acaName != null && location != null && subject != null) {

                $.ajax({
                    url: '/academy/modify',
                    type: "POST",
                    contentType: "application/json",
                    headers: {"X-AUTH-TOKEN": localStorage.getItem("jwt")},
                    data: JSON.stringify({
                        "acaNum":acaNum,
                        "acaName":acaName,
                        "subject":subject,
                        "location":location,
                    }),
                    success: function() {
                        history.back();
                    },
                });

            } else {
                alert('모든 항목을 입력해주세요.');
            }
        }
        </script>
    </div>
</body>
</html>