<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    학원명:
    <span th:text="${academy.acaName}" id="name">학원 이름</span><br>
    수강 과목:
    <div th:each="subject : ${academy.subject}">
        <span th:each="sub : ${subject}" th:if="${subject == subject}">
                <span th:text="${sub.description}" class="form-check-label"></span>
        </span>
    </div>
    학원 위치:
    <span th:text="${academy.location}">학원 위치</span><br>
    <input type="hidden" th:field="${academy.acaNum}" id="number">

    <button type="button" id="modifyBtn">수정하기</button>
    <button type="button" id="deleteBtn">삭제하기</button><!-- th:onclick="'location.href=\''+@{/academy/delete?number={number}(number=${academy.acaNum})}+'\';'">삭제하기</button>-->
    <button type="button" id="joinBtn">수강 신청</button><!-- th:onclick="'location.href=\''+@{/academy/join?number={number}(number=${academy.acaNum})}+'\';'">수강 신청</button>-->
    <button type="button" id="withdrawBtn">수강 취소</button>
    <!--<button type="button" class="withdraw" th:onclick="'location.href=\''+@{/academy/withdraw?number={number}(number=${academy.acaNum})}+'\';">수강 취소</button>-->

    <script th:inline="javascript">

        $(document).ready(function() {
            $('#modifyBtn').click(function() {
                modify();
            });
            $('#deleteBtn').click(function() {
                delete();
            };
            $('#joinBtn').click(function() {
                join();
            };
            $('#withdrawBtn').click(function() {
                withdraw();
            };
        });

        function modify() {
            var token = localStorage.getItem("jwt");
            var number = $('#number').val();

            $.ajax({
                url: '/academy/modify',
                type: 'GET',
                contentType: "application/json",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-AUTH-TOKEN", token)
                },
                data: {"number":number},
                success: function(xhr) {
                    location.href='/academy/modify?number='+number;
                },
            });
        }

        function delete() {
            var token = localStorage.getItem("jwt");
            var number = $('#number').val();

            $.ajax({
                url: '/academy/delete',
                type: 'POST',
                contentType: "application/json",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-AUTH-TOKEN", token)
                },
                data: {"number":number},
            });
        }

        function join() {
            var token = localStorage.getItem("jwt");
            var number = $('#number').val();
            var name = $('#name).val();

            var result = confirm(name + " 학원에 가입하시겠습니까?");

            if (result) {
                $.ajax({
                    url: '/academy/join',
                    type: 'POST',
                    contentType: "application/json",
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("X-AUTH-TOKEN", token)
                    },
                    data: {"number":number},
                });
            }
        }

        function withdraw() {
            var token = localStorage.getItem("jwt");
            var number = $('#number').val();
            var name = $('#name').val();

            var result = confirm(name + " 학원에서 탈퇴하시겠습니까?");

            if (result) {
                $.ajax({
                    url: '/academy/withdraw',
                    type: 'POST',
                    contentType: "application/json",
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("X-AUTH-TOKEN", token)
                    },
                    data: {"number":number},
                });
            }
        }


    </script>
</div>
</body>

</html>