<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <div class="read-box1">
        <div class="read-box2">
            <div style="display:flex;justify-content:space-between;">
                <div>
                <span class="custom-span">학원명</span>
                <span type="text" th:text="${academy.acaName}" id="academy_name">학원 이름</span>
                </div><div>
                <span th:if="${academy.grade != null}" class="custom-span">평점</span>
                <span th:if="${academy.grade == null}"></span>
                <span th:if="${academy.grade != null}" th:text="${#numbers.formatDecimal(academy.grade, 1, 1)}">평점</span>
                <span th:if="${academy.reviewCount != 0}" th:text="'('+${academy.reviewCount}+')'" class="review-count"></span>
                </div>
            </div>
            <div class="flex">
                <span class="custom-span" style="margin-right:7px;">수강 과목</span>
                <ul>
                    <div th:each="subject : ${academy.subject}">
                        <span th:each="sub : ${subject}" th:if="${subject == subject}">
                            <li th:text="${sub.description}" class="form-check-label custom-li"></li>
                        </span>
                    </div>
                </ul>
            </div>
            <div class="flex">
                <span class="custom-span">학원 위치</span>
                <span th:text="${academy.location}">학원 위치</span><br>
            </div>
            <input type="hidden" th:field="${academy.acaNum}" id="number">
            <div class="flex">
                <button type="button" id="noticeBtn" class="custom-button-mint">공지사항</button>
                <button type="button" id="reviewBtn" class="custom-button-mint">수강 후기</button>
                <button type="button" id="membersBtn" class="custom-button-mint">수강생 목록</button>
            </div>
            <div class="flex">
                <button type="button" id="joinBtn" class="custom-button-yellow">수강 신청</button>
                <button type="button" id="withdrawBtn" class="custom-button-yellow">수강 취소</button><br>
            </div>
            <div style="display: flex; float: right;">
                <a id="modifyA" class="read-a">수정하기</a>
                <a id="deleteA" class="read-a">삭제하기</a>
            </div>

        </div>
    </div>
    <script th:inline="javascript">

        $(function() {

            $('#membersBtn').on("click", function() {
                memberList();
            });

            $('#modifyA').on("click", function() {
                modify();
            });

            $('#deleteA').on("click", function() {
                delete_academy();
            });

            $('#joinBtn').on("click", function() {
                join();
            });

            $('#withdrawBtn').on("click", function() {
                withdraw();
            });

            $('#noticeBtn').on("click", function() {
                notice();
            });

            $('#reviewBtn').on("click", function() {
                review();
            });

        });

        function memberList() {
            var number = $('#number').val();

            $.ajax({
                url: '/member/joined',
                type: 'GET',
                contentType: 'application/json',
                data: {"number":number},
                success: function() {
                    location.href='/member/joined?number='+number;
                },
            });

        }

        function modify() {
            var number = $('#number').val();

            $.ajax({
                url: '/academy/modify',
                type: 'GET',
                contentType: "application/json",
                data: {"number":number},
                success: function() {
                    location.href='/academy/modify?number='+number;
                },
            });
        }

        function delete_academy() {
            var number = $('#number').val();

            $.ajax({
                url: '/academy/delete',
                type: 'GET',
                contentType: "application/json",
                data: {"number":number},
                success: function() {
                    location.href='/academy/main';
                },
            });
        }

        function join() {
            var number = $('#number').val();
            var name = document.getElementById("academy_name").innerHTML;

            var result = confirm(name + ' 학원에 가입하시겠습니까?');

            if (result) {
                $.ajax({
                    url: '/academy/join?number='+number,
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify({"number":number}),
                    success: function() {
                        alert("등록이 완료되었습니다.");
                    },
                });
            }
        }

        function withdraw() {
            var token = localStorage.getItem("jwt");
            var number = $('#number').val();
            var name = document.getElementById("academy_name").innerHTML;

            var result = confirm(name + ' 학원에서 탈퇴하시겠습니까?');

            if (result) {
                $.ajax({
                    url: '/academy/withdraw',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify({"number":number}),
                    success: function() {
                        alert("탙퇴가 완료되었습니다.");
                    },
                });
            }
        }

        function notice() {
            var academy = Number($('#number').val());

            $.ajax({
                url: '/notice/list',
                type: 'GET',
                contentType: "application/json",
                data: {"academy":academy},
                success: function() {
                    location.href="/notice/list?academy="+academy;
                },
            });
        }

        function review() {
            var academy = Number($('#number').val());

            $.ajax({
                url: '/review/list',
                type: 'GET',
                contentType: "application/json",
                data: {"academy":academy},
                success: function() {
                    location.href="/review/list?academy="+academy;
                },
            });
        }

    </script>
</div>
</body>

</html>