<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <meta charset="UTF-8">
<body>
    <div layout:fragment="content">
        <h3>등록 화면</h3>
        <form th:object="${academy}"><!-- action="./register" method="post" th:object="${academy}">-->
            학원 이름<input type="text" th:field="*{acaName}"><br>
            학원 위치<input type="text" th:field="*{location}"><br>
            수강 과목<br>
            <div th:each="sub : ${subject}" class="form-check form-check line">
                <input type="checkbox" th:field="*{subject}" th:name="subject_list" th:value="${sub}" class="form-check-input">
                <label th:for="${#ids.prev('subject')}" th:text="${sub.description}" class="form-check-label"></label>
            </div>

            <button type="button" id="registerBtn">등록</button>
            <!--<input type="submit" id="registerBtn" value="등록">-->
        </form>
        <script th:inline="javascript">

        $(document).ready(function() {
            $('#registerBtn').click(function() {
                register();
            });
        });

        function getSubject() {
            var subject = [];
            var subjects = $("input[name=subject]:checkbox");
            for ( var i = 0; i < subjects.length; i++) {
                if (subjects[i].checked == true ) {
                    subject.push(subjects[i].value);
                }
            }
            return subject;
        }

        function register() {
            var acaName = $('#acaName').val();
            var location = $('#location').val();
            var subject = getSubject();

            $.ajax({
                url: '/academy/register',
                type: "POST",
                contentType: "application/json",
                headers: {"X-AUTH-TOKEN": localStorage.getItem("jwt")},
                data: JSON.stringify({
                    "acaName":acaName,
                    "subject":subject,
                    "location":location,
                }),
            }).then((response) => {
                if (acaName != null && location != null && subject != null) {
                    location.href="/academy/main";
                } else {
                    alert('모든 항목을 작성해주세요.');
                };
            });
        }
        </script>
    </div>

</body>
</html>