<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content">
    <h3 class="custom-text font-bold">안내 사항 수정</h3>
    <form th:object="${info}" class="custom-form">
        <input type="hidden" th:value="*{infoNum}" id="number">
        <span class="custom-span span-center">제목</span>
        <input type="text" class="custom-form-control margin-top10" th:field="*{title}">
        <p id="titleError"></p><br/>
        <span class="custom-span span-center">내용</span>
        <div>
            <div class="custom-form-control input-content scroll" id="content" contenteditable="true"></div>
            <p id="contentError"></p>
            <div class="button-distance" style="margin-top:20px;">
                <input type="file" id="imageFile" style="display:none;">
                <label class="custom-button-mint select-file" for="imageFile" id="imageLabel">이미지 추가</label>
            </div>
        </div>
        <div class="button-distance">
            <button type="button" id="modifyBtn" class="custom-button-yellow">수정</button>
            <button type="button" id="cancelBtn" class="custom-button-yellow">취소</button>
        </div>
    </form>
    <script th:inline="javascript">
        $(function() {
            $('#modifyBtn').on("click", function() {
                modify();
            });
            $('#cancelBtn').on("click", function() {
                history.back();
            });
        });

        const imageFile = document.getElementById('imageFile');
        const imageLabel = document.getElementById('imageLabel');
        let imgList = [];
        let existImages = [[${image}]];

        document.addEventListener('DOMContentLoaded', function() {
            const infoContentText = [[${info.content}]];
            const infoContent = document.getElementById('content');
            infoContent.innerHTML = infoContentText;
            setImgTag(existImages);

            const size = existImages.length;

            var contentText = infoContent.textContent;
            /*
            if (size != 0) {
                existImages.forEach(image => {
                    const insertImg = '<img src="data:'+image.mimeType+';base64, '+image.base64+'" data-name='+image.originalName+' data-id='+image.index+' name=\"exist\">';
                    const preText = image.preText;
                    const postText = image.postText;

                    const regex = new RegExp(image.index);
                    const match = contentText.match(regex);
                    if (match != null && match.length === 1) {
                        var tempPre = preText !== undefined ? contentText.slice(match.index - preText.length, match.index) : "";
                        var tempNext = postText !== undefined ? contentText.slice(match.index + image.index.length, match.index + image.index.length + postText.length) : "";
                        if (tempPre === preText && tempNext === postText) {
                            content.innerHTML = content.innerHTML.replace(regex, insertImg);
                        }
                    }
                });
                imageLabel.innerText = "이미지 추가 ("+size+"/10)";
            }
            */
        });

        imageFile.addEventListener('change', function() {
            const image = event.target.files[0];
            setDataURL(image, imgList);
        });

        imageLabel.addEventListener('click', function() {
            const imageNumber = document.querySelectorAll('img').length;
            if (imageNumber === 10) {
                alert('업로드 가능한 이미지는 최대 10장입니다.');
                event.preventDefault();
            }
        });

        const contentDiv = document.getElementById('content');
        contentDiv.addEventListener('keydown', deleteImage);

        function modify() {
            clearText(["titleError", "contentError"]);
            const number = $('#number').val();
            const title = $('#title').val();
            const imgArray = findImgPosition("new");
            const existImgArray = findImgPosition("exist");
            const contentText = document.getElementById('content').textContent;
            const json = {
                "number":number,
                "title":title,
                "content":contentText
            };

            var formData = new FormData();
            formData.append("infoGuideFormDTO", new Blob([JSON.stringify(json)], {type:"application/json"}));
            if (imgList.length > 0) {
                imgList.forEach(function(img){
                    formData.append("images", img);
                });
            }
            formData.append("imgArray", new Blob([JSON.stringify(imgArray)], {type:"application/json"}));
            formData.append("existImgArray", new Blob([JSON.stringify(existImgArray)], {type:"application/json"}));

            if (title && (contentText || imgArray.length > 0 || existImgArray.length > 0)) {
                $.ajax({
                    url: '/info/modify',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function() {
                        location.href = "/info/read?number="+number;
                    },
                    error: function(xhr) {
                        jwtFilter();
                        try {
                            var errorMessage = JSON.parse(xhr.responseText);
                            checkBindingResult(errorMessage);
                            console.log(xhr.responseText);
                        } catch (e) {
                            console.log(xhr.responseText);
                        }
                    }
                });
            } else {
                alert('모든 항목을 입력해주세요.');
            }
        }

    </script>
</div>
</body>
</html>