<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Education</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/academy/main">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/academy/list">학원 목록</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search" id="searchForm">
                        <select name="category">
                            <option value="name">학원명</option>
                            <option value="subject">과목명</option>
                            <option value="location">학원 위치</option>
                        </select>
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="keyword">
                        <button class="btn btn-outline-success" type="button" id="searchBtn">Search</button>
                    </form>
                    <button align="right" class="btn btn-outline-warning" type="button" id="loginBtn_nav" onclick="location.href='/member/login';">Login</button>
                </div>
            </div>
        </nav>
        <script th:inline="javascript">
            $(function() {
                member();
                $('#searchBtn').on("click", function() {
                    search();
                });

            });

            function member() {
                var token = localStorage.getItem("jwt");

                if(token) {
                    $('#loginBtn_nav').replaceWith("<button align='right' class='btn btn-outline-warning' type='button' id='logoutBtn' href='/member/logout'>Logout</button>");

                    $('#logoutBtn').click(function() {

                        $.ajax({
                            url: '/member/logout',
                            type: 'POST',
                            contentType: "application/json",
                            beforeSend: function(xhr) {
                                xhr.setRequestHeader("X-AUTH-TOKEN", token)
                            },
                        }).then(() => {
                            localStorage.removeItem("jwt");
                            alert("로그아웃이 완료되었습니다.");
                            location.href = "/academy/main";
                        });

                    });

                    $('#searchForm').append("<button type='button' id='memberBtn' href='/member/read'>회원 정보</button>");

                    $('#memberBtn').on("click", function() {
                        $.ajax({
                            url: '/member/request',
                            type: 'GET',
                            contentType: "application/json",
                            beforeSend: function(xhr) {
                                xhr.setRequestHeader("X-AUTH-TOKEN", token)
                            },
                        }).then((response) => {
                            var number = response;
                            location.href="/member/read?number="+number;
                        });
                    });
                }
            }

            function search() {
                var category = $('option[name=category]').val();
                var keyword = $('#keyword').val();

                $.ajax({
                    url: '/academy/search?category='+category+'&keyword='+keyword,
                    type: 'GET',
                    contentType: "application/json",
                    data: {
                        "category":category,
                        "keyword":keyword,
                    },
                    success: function() {
                        location.href='/academy/search?category='+category+'&keyword='+keyword;
                    },
                });
            }

        </script>
    </div>

</html>