.custom-control.custom-radio.custom-control-inline {
padding-right: 10px;
padding-left: 10px;
flex-wrap: wrap;
}

.custom-checkbox {
padding-right: 5px;
padding-left: 10px;
}

.custom-label {
padding-right: 10px;
}

a {
    color: #f58b0a;
}

a:hover {
    color: #05e3ba;
}
.search-card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #f3a73d;
    border-color: #e7a642;
}
.page-link {
    color: #f3a73d;
}

.page-item.disabled .page-link {
    color: #f3a73d;
}

.pagination {
    justify-content: center;
    margin-top: 10px;
}

.custom-text {
    color: #f58b0a;
    text-align: center;
}
/*
.custom-button-yellow {
    border-radius: 12px;
    border: 1px double;
    border-color: #FDCE5E;
    color: #FAC431;
    background: white;
}*/
.custom-form-control {
    height: 38px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #060606;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bfddd8;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin: 10px 200px 10px 200px;
}

.custom-checkbox-group {
    display: flex;
}
.custom-check-input {
    margin-top: 0.3rem;
    accent-color: #4f9f9c;
}

.custom-button-yellow {
    background-image: linear-gradient(309deg, #ffa725, #ffc543);
    border-radius: 12px;
    border: none;
    color: white;
    line-height: 36px;
    padding-right: 15px;
    padding-left: 15px;
}
.custom-button-yellow:hover {
    background-image: linear-gradient(309deg, #ffc543, #ffa725);
    color: #f8f886;
}

.custom-button-mint {
    border-radius: 12px;
    border: 1px double;
    color: white;
    background: white;
    background-image: linear-gradient(to left, #06D7BB, #96e4df 70%);
    line-height: 36px;
    border: none;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.custom-button-mint:hover {
    background-image: linear-gradient(to right, #06D7BB, #96e4df 70%);
    color: #f8f886;
}

.button-distance{
    display: flex;
    justify-content: space-evenly;
}

.input-group {
    display: flex;
    align-items: baseline;
    position: relative;
}

.custom-card-background {
    background-image: url("/img/catalog.jpg");
    /*backgroundrmage: url("/img/yellow.jpg");*/
    /*background-image: url("/img/desk.jpg");*/
    /*background-image: url("/img/floor.jpg");*/
    background-size: cover;
    background-position: top;
    height: 600px;
}

.custom-carousel-background1 {
    background-image: url("/img/blue.jpg");
    height: 300px;
}
.custom-carousel-background2 {
    background-image: url("/img/boat.jpg");
    height: 300px;
}
.custom-carousel-background3 {
    background-image: url("/img/giftbox.jpg");
    height: 300px;
}

.custom-background {
    background-color: white;
    border: double;
    border-color: #fcf2c7;
    margin-bottom: 20px;
}

.font-bold {
    font-weight: 900;
}

.login-box1 {
    padding-top: 2%;
    background-color: #fffcf5ed;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.login-box2 {
    margin: 20px 30px 40px 30px;
}

.login-logo {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: double;
}

.read-box1 {
    background-color: #fffcf5c7;
    /*color: #f58b0a;*/
    margin: 150px 0px 100px 0px;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    font-size: large;
}

.read-box2 {
    margin: 50px 60px 60px 50px;
}

.custom-span {
    background-color: #ffefc8;
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
    margin-right: 15px;
    width: fit-content;
}
.custom-li {
    margin-left: 10px;
    margin-right: -5px;
}

.grade-text {
    color: #14ced7;
    font-weight: 900;
    border-radius: 30px;
    border: 7px solid gray;
    border-color: #fffdb1;
    background: #fffdb1;
}

.table-bottom {
    border-bottom: solid;
    border-color: #fbf8e0e3;
}

.stars {
    font-size: 2rem;
    text-shadow: 0 0 0 #f7eada;
    color: transparent;
}
.stars:hover {
    text-shadow: 0 0 0 #f9ea35;
}
.stars:hover ~ label{
    text-shadow: 0 0 0 #f9ea35;
}

.stars-input {
    display: none;
}

.stars-input:checked ~ label {
    text-shadow: 0 0 0 #f9ea35;
}

.reversed-stars {
    display: inline-block;
    direction: rtl;
    border: 0;
    text-align: left;
}

.title-stars {
    margin-left: 20px;
    color: #ffda52;
}

.flex {
    display: flex;
    align-items: baseline;
}

.margin-top20 {
    margin-top: 20px;
}
.margin-top10 {
    margin-top: 10px;
}
.margin-left20 {
    margin-left: 20px;
}

.input-content {
    width: 700px;
    height: 700px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
}

.input-group-append {
    align-items: center;
}

.ul-none {
    list-style-type: none;
    margin-left: -40px;
}
.ul-none-li {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    margin-left: 1px;
    margin-right: 1px;
    border-color: #ffd55870;
    border-radius: 15px;
    border-width: 2px;
}

.span-center {
    align-self: center;
    width: fit-content;
}

.border-tb{
    padding: 10px 20px 10px 20px;
    border-top: 2px solid #4bd9c761;
    border-bottom: 2px solid #1f7c707a;
    margin-bottom: 30px;
}

.title-tr {
    display: flex;
}

.title-td {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-writer {
    display: flex;
    flex-direction: row-reverse;
    margin: -10px 0px 10px 0px;
    font-size: medium;
}

.title-date {
    margin-top: -10px;
    display: flex;
    font-size: smaller;
    flex-direction: row-reverse;
    margin-bottom: -20px;
}

.content-box {
    margin: 10px 20px 30px 20px;
    background-color: white;
    padding: 30px 30px 50px 30px;
    color: black;
}

.footer {
    width: 100%;
    height: 99999px;
    position: absolute;
    bottom: 0px;
}

.read-box-white-title {
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}

.read-box-white {
     margin: 5% 10% 5% 10%;
     padding: 5px 20px 5px 20px;
     font-size: large;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.w-auto {
    width: auto;
}

.w-fit{
    width: fit-content;
}

.select-prepend {
    display: inline-block;
    padding: 0px 10px 0px 10px;
    color: #495057;
    border: 1px solid #bfddd8;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.review-count {
    font-weight: 600;
    color: #adb5bd;
    margin-left: -5px;
}

.read-a {
    color: #9fa3a7;
    text-decoration: none;
    padding: 5px 10px 5px 0px;
    font-size: medium;
}

.file-name {
    padding: 0px 20px 0px 20px;
    display: flex;
    width: -webkit-fill-available;
    align-items: center;
}

.null-content {
    margin: 150px 0px 150px 0px;
    font-size: large;
    color: black;
}

.float-r {
    float: right;
    margin-left: 20px;
}

.radio-label {
    display: flex;
    align-items: flex-end;
}

.collapse-box {
    margin: 20px 0px 20px 0px;
    width: fit-content;
    padding: 10px 0px 10px 0px;
}

.button-my {
    background-color: #fffcd085;
    border-radius: 12px;
    border: none;
    line-height: 36px;
    padding-right: 15px;
    padding-left: 15px;
}

.flex-start {
    display: flex;
    align-items: flex-start;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.button-collapse-margin {
    margin: 30px 30px 30px 0px;
}

.academy-img {
    display: flex;
    max-height: 250px;
    max-width: 300px;
    padding: 0px 10px 10px 0px;
}

.select-file {
    display: flex;
    align-items: center;
    min-width: fit-content;
    height: 40px;
}

.file-list {
    display:block;
    height:fit-content;
    min-height:32px;
}

.file-info {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 50px 30px 20px 10px;
}

.file-name {
    color: #5eb9c9;
}
.file-name:hover {
    color: #62e1a6;
}

.file-size {
    font-size: medium;
    color: #adaaaa;
}

.w70 {
    width: 70%;
}

.f1 {
    flex: 1;
}
.f0 {
    flex: 0;
}

.scroll {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    overflow-wrap: break-word;
}